# concat 메서드 사용하기

In [8]:
import pandas as pd
df1 = pd.read_csv('../data/concat_1.csv')
df2 = pd.read_csv('../data/concat_2.csv')
df3 = pd.read_csv('../data/concat_3.csv')

row_concat = pd.concat([df1, df2, df3])
# print(row_concat.loc[3,])
print(row_concat.iloc[0,])

A    a0
B    b0
C    c0
D    d0
Name: 0, dtype: object

# 데이터프레임에 시리즈 연결하기

In [10]:
new_row_series = pd.Series(['n1','n2','n3','n4'])
print(pd.concat([df1, new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

# 행 1개로 구성된 데이터프레임 생성하여 연결하기

In [16]:
new_row_df = pd.DataFrame([['n1','n2','n3','n4']], columns=['A','B','C','D'])
# print(new_row_df)
# print(pd.concat([df1, new_row_df]))
# print(df1.append(new_row_df))
# data_dict = {'A':'n1', 'B':'n2', 'C':'n3', 'D':'n4'}
# print(df1.append(data_dict, ignore_index=True))

AttributeError: 'DataFrame' object has no attribute 'append'

# 다양한 방법으로 데이터 연결하기

In [30]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index=True)
print(row_concat_i)

col_concat = pd.concat([df1, df2, df3], axis=1)
print(col_concat)

print(col_concat['A'])

col_concat['new_col_list'] = ['n1', 'n2', 'n3', 'n4']
print(col_concat)

print(pd.concat([df1, df2, df3], axis=1, ignore_index=True))

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11
    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11
    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11
    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4
   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

# 공통 열과 공통 인덱스만 연결하기

In [51]:
df1.columns = ['A', 'B', 'C', 'D']
df2.columns = ['E', 'F', 'G', 'H']
df3.columns = ['A', 'C', 'F', 'H']
# print(df1)
# print(type(df1))

# print(df2)
# print(df3)

row_concat = pd.concat([df1, df2, df3])
# print(row_concat)

# print(pd.concat([df1, df2, df3], join='inner'))

# print(pd.concat([df1, df3], ignore_index=False, join='inner'))

df1.index = [0,1,2,3]
df2.index = [4,5,6,7]
df3.index = [0,2,5,7]
# print(df3)

col_concat = pd.concat([df1, df2, df3], axis=1)
# print(col_concat)

print(pd.concat([df1,df3], axis=1, join='inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

# merge 메서드 사용하기

In [52]:
person = pd.read_csv('../data/survey_person.csv')
site = pd.read_csv('../data/survey_site.csv')
survey = pd.read_csv('../data/survey_survey.csv')
visited = pd.read_csv('../data/survey_visited.csv')

print(person)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [72]:
# print(site)
# print(visited)
# print(survey)
visited_subset = visited.loc[[0,2,6], ]
# print(visited_subset)

o2o_merge = site.merge(visited_subset, left_on='name', right_on='site')
print(o2o_merge)

m2o_merge = site.merge(visited, left_on='name', right_on='site')
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14
    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [73]:
ps = person.merge(survey, left_on='ident', right_on='person')
vs = visited.merge(survey, left_on='ident', right_on='taken')

print(ps)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25

In [74]:
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [75]:
ps_vs = ps.merge(vs, left_on=['ident', 'taken', 'quant', 'reading'], right_on=['person', 'ident', 'quant', 'reading'])

In [76]:
print(ps_vs)

   ident_x   personal   family  taken_x person_x quant  reading  ident_y
0     dyer    William     Dyer      619     dyer   rad     9.82      619  \
1     dyer    William     Dyer      619     dyer   sal     0.13      619
2     dyer    William     Dyer      622     dyer   rad     7.80      622
3     dyer    William     Dyer      622     dyer   sal     0.09      622
4       pb      Frank  Pabodie      734       pb   rad     8.41      734
5       pb      Frank  Pabodie      734       pb  temp   -21.50      734
6       pb      Frank  Pabodie      735       pb   rad     7.22      735
7       pb      Frank  Pabodie      751       pb   rad     4.35      751
8       pb      Frank  Pabodie      751       pb  temp   -18.50      751
9     lake   Anderson     Lake      734     lake   sal     0.05      734
10    lake   Anderson     Lake      751     lake   sal     0.10      751
11    lake   Anderson     Lake      752     lake   rad     2.19      752
12    lake   Anderson     Lake      752     lake   sal     0.09      752
13    lake   Anderson     Lake      752     lake  temp   -16.00      752
14    lake   Anderson     Lake      837     lake   rad     1.46      837
15    lake   Anderson     Lake      837     lake   sal     0.21      837
16     roe  Valentina  Roerich      752      roe   sal    41.60      752
17     roe  Valentina  Roerich      837      roe   sal    22.50      837
18     roe  Valentina  Roerich      844      roe   rad    11.25      844

     site       dated  taken_y person_y
0    DR-1  1927-02-08      619     dyer
1    DR-1  1927-02-08      619     dyer
2    DR-1  1927-02-10      622     dyer
3    DR-1  1927-02-10      622     dyer
4    DR-3  1939-01-07      734       pb
5    DR-3  1939-01-07      734       pb
6    DR-3  1930-01-12      735       pb
7    DR-3  1930-02-26      751       pb
8    DR-3  1930-02-26      751       pb
9    DR-3  1939-01-07      734     lake
10   DR-3  1930-02-26      751     lake
11   DR-3         NaN      752     lake
12   DR-3         NaN      752     lake
13   DR-3         NaN      752     lake
14  MSK-4  1932-01-14      837     lake
15  MSK-4  1932-01-14      837     lake
16   DR-3         NaN      752      roe
17  MSK-4  1932-01-14      837      roe
18   DR-1  1932-03-22      844      roe

In [78]:
print(ps_vs.loc[0, ])

ident_x           dyer
personal       William
family            Dyer
taken_x            619
person_x          dyer
quant              rad
reading           9.82
ident_y            619
site              DR-1
dated       1927-02-08
taken_y            619
person_y          dyer
Name: 0, dtype: object