# 05. Data Assembly 연습과제
***

## 1. 데이터 만들기

In [3]:
import pandas as pd

In [4]:
# 2021학번 학생 데이터
students_2021_df = pd.DataFrame({
    'sid': [202101, 202102, 202103],
    'name' : ['Emma', 'Jack', 'Smith'],
    'sex': ['female', 'male', 'male']
})

# 2022학번 학생 데이터
students_2022_df = pd.DataFrame({
    'sid': [202201, 202202, 202203],
    'name' : ['Michel', 'Jenny', 'Jack'],
    'sex': ['male', 'female', 'male']
})

# 2023학번 학생 데이터
students_2023_df = pd.DataFrame({
    'sid': [202301, 202302, 202303],
    'name' : ['Olivia', 'Kevin', 'Jack'],
    'sex': ['female', 'male', 'male']
})

# 과목 데이터
courses_df = pd.DataFrame({
    'cid': [100, 200, 300],
    'name': ['Python', 'Algorithm', 'Big Data']
})

# Python 중간시험 결과
mid_py_scores_df = pd.DataFrame({
    'sid': [202301, 202302, 202303, 202201, 202302],
    'score': [70, 55, 85, 92, 100],
})

# Algorithm 중간시험 결과
mid_algo_scores_df = pd.DataFrame({
    'sid': [202201, 202202, 202203, 202101],
    'score': [85, 95, 90, 92]
})

# Big Data 중간시험 결과
mid_big_scores_df = pd.DataFrame({
    'sid': [202101, 202102, 202103],
    'score': [85, 95, 90]
})

In [9]:
print(students_2021_df)
print(students_2022_df)
print(students_2023_df)

      sid   name     sex
0  202101   Emma  female
1  202102   Jack    male
2  202103  Smith    male
      sid    name     sex
0  202201  Michel    male
1  202202   Jenny  female
2  202203    Jack    male
      sid    name     sex
0  202301  Olivia  female
1  202302   Kevin    male
2  202303    Jack    male

## 2. 모든 학생 데이터 합치기 (concat)

In [36]:
all_students = pd.concat([students_2021_df, students_2022_df, students_2023_df])
print(all_students)

      sid    name     sex
0  202101    Emma  female
1  202102    Jack    male
2  202103   Smith    male
0  202201  Michel    male
1  202202   Jenny  female
2  202203    Jack    male
0  202301  Olivia  female
1  202302   Kevin    male
2  202303    Jack    male

In [43]:
all_students = pd.concat([students_2021_df, students_2022_df, students_2023_df], ignore_index=True)
print(all_students)

      sid    name     sex
0  202101    Emma  female
1  202102    Jack    male
2  202103   Smith    male
3  202201  Michel    male
4  202202   Jenny  female
5  202203    Jack    male
6  202301  Olivia  female
7  202302   Kevin    male
8  202303    Jack    male

## 3. 파이썬 중간시험 결과와 학생 데이터 연결하기 (merge)

In [21]:
mid_py = mid_py_scores_df.merge(all_students, left_on='sid', right_on='sid')
print(mid_py)

      sid  score    name     sex
0  202301     70  Olivia  female
1  202302     55   Kevin    male
2  202302    100   Kevin    male
3  202303     85    Jack    male
4  202201     92  Michel    male

## 4. 알고리즘 중간시험 결과와 학생 데이터 연결하기 (merge)

In [22]:
mid_algo = mid_algo_scores_df.merge(all_students, left_on='sid', right_on='sid')
print(mid_algo)

      sid  score    name     sex
0  202201     85  Michel    male
1  202202     95   Jenny  female
2  202203     90    Jack    male
3  202101     92    Emma  female

## 5. 빅데이터 중간시험 결과와 학생 데이터 연결하기 (merge)

In [19]:
mid_big = mid_big_scores_df.merge(all_students, left_on='sid', right_on='sid')

## 6. 모든 시험결과와 학생 데이터 연결하기 (concat & merge)

In [44]:
# 위 사용 X

students_all = pd.concat([students_2021_df, students_2022_df, students_2023_df])
scores_all = pd.concat([mid_py_scores_df, mid_algo_scores_df, mid_big_scores_df])

mid_all = students_all.merge(scores_all, left_on='sid', right_on='sid')
print(mid_all)

       sid    name     sex  score  cid
0   202101    Emma  female     92  200
1   202101    Emma  female     85  300
2   202102    Jack    male     95  300
3   202103   Smith    male     90  300
4   202201  Michel    male     92  100
5   202201  Michel    male     85  200
6   202202   Jenny  female     95  200
7   202203    Jack    male     90  200
8   202301  Olivia  female     70  100
9   202302   Kevin    male     55  100
10  202302   Kevin    male    100  100
11  202303    Jack    male     85  100

In [51]:
# 위 사용

mid_all = pd.concat([mid_py, mid_algo, mid_big])
print(mid_all)

      sid  score    name     sex
0  202301     70  Olivia  female
1  202302     55   Kevin    male
2  202302    100   Kevin    male
3  202303     85    Jack    male
4  202201     92  Michel    male
0  202201     85  Michel    male
1  202202     95   Jenny  female
2  202203     90    Jack    male
3  202101     92    Emma  female
0  202101     85    Emma  female
1  202102     95    Jack    male
2  202103     90   Smith    male

## 7. 과목정보가 유지되도록 모든 시험결과와 학생 데이터 연결하기 (new column & concat & merge)

In [39]:
mid_py_scores_df['cid'] = 100
mid_algo_scores_df['cid'] = 200
mid_big_scores_df['cid'] = 300

all_scores = pd.concat([mid_py_scores_df, mid_algo_scores_df, mid_big_scores_df])
mid_all = all_students.merge(all_scores, left_on='sid', right_on='sid')

print(mid_all)

       sid    name     sex  score  cid
0   202101    Emma  female     92  200
1   202101    Emma  female     85  300
2   202102    Jack    male     95  300
3   202103   Smith    male     90  300
4   202201  Michel    male     92  100
5   202201  Michel    male     85  200
6   202202   Jenny  female     95  200
7   202203    Jack    male     90  200
8   202301  Olivia  female     70  100
9   202302   Kevin    male     55  100
10  202302   Kevin    male    100  100
11  202303    Jack    male     85  100

## 8. 7 단계에서 생성된 데이터 프레임을 이용하여 파이썬 과목 평균점수 구하기(mean)

In [40]:
mid_all['score'][mid_all['cid'] == 100].mean()

80.4

## 9. 7 단계에서 생성된 데이터 프레임을 이용하여 알고리즘 과목 남학생 평균점수 구하기(mean)

In [42]:
mid_all['score'][(mid_all['cid'] == 200) & (mid_all['sex'] == 'male')].mean()

87.5