# 05. Data Assembly 연습과제
***

## 1. 데이터 만들기

In [4]:
import pandas as pd

In [5]:
# 2021학번 학생 데이터
students_2021_df = pd.DataFrame({
    'sid': [202101, 202102, 202103],
    'name' : ['Emma', 'Jack', 'Smith'],
    'sex': ['female', 'male', 'male']
})

# 2022학번 학생 데이터
students_2022_df = pd.DataFrame({
    'sid': [202201, 202202, 202203],
    'name' : ['Michel', 'Jenny', 'Jack'],
    'sex': ['male', 'female', 'male']
})

# 2023학번 학생 데이터
students_2023_df = pd.DataFrame({
    'sid': [202301, 202302, 202303],
    'name' : ['Olivia', 'Kevin', 'Jack'],
    'sex': ['female', 'male', 'male']
})

# 과목 데이터
courses_df = pd.DataFrame({
    'cid': [100, 200, 300],
    'name': ['Python', 'Algorithm', 'Big Data']
})

# Python 중간시험 결과
mid_py_scores_df = pd.DataFrame({
    'sid': [202301, 202302, 202303, 202201, 202302],
    'score': [70, 55, 85, 92, 100],
})

# Algorithm 중간시험 결과
mid_algo_scores_df = pd.DataFrame({
    'sid': [202201, 202202, 202203, 202101],
    'score': [85, 95, 90, 92]
})

# Big Data 중간시험 결과
mid_big_scores_df = pd.DataFrame({
    'sid': [202101, 202102, 202103],
    'score': [85, 95, 90]
})

## 2. 모든 학생 데이터 합치기 (concat)

In [7]:
all_students = pd.concat([students_2021_df, students_2022_df, students_2023_df])
print(all_students)

      sid    name     sex
0  202101    Emma  female
1  202102    Jack    male
2  202103   Smith    male
0  202201  Michel    male
1  202202   Jenny  female
2  202203    Jack    male
0  202301  Olivia  female
1  202302   Kevin    male
2  202303    Jack    male

## 3. 파이썬 중간시험 결과와 학생 데이터 연결하기 (merge)

In [9]:
mid_py = mid_py_scores_df.merge(all_students, left_on='sid', right_on='sid')
print(mid_py)

      sid  score    name     sex
0  202301     70  Olivia  female
1  202302     55   Kevin    male
2  202302    100   Kevin    male
3  202303     85    Jack    male
4  202201     92  Michel    male

## 4. 알고리즘 중간시험 결과와 학생 데이터 연결하기 (merge)

In [11]:
mid_algo = mid_algo_scores_df.merge(all_students, left_on='sid', right_on='sid')
print(mid_algo)

      sid  score    name     sex
0  202201     85  Michel    male
1  202202     95   Jenny  female
2  202203     90    Jack    male
3  202101     92    Emma  female

## 5. 빅데이터 중간시험 결과와 학생 데이터 연결하기 (merge)

In [13]:
mid_big = mid_big_scores_df.merge(all_students, left_on='sid', right_on='sid')
print(mid_big)

      sid  score   name     sex
0  202101     85   Emma  female
1  202102     95   Jack    male
2  202103     90  Smith    male

## 6. 모든 시험결과와 학생 데이터 연결하기 (concat & merge)

In [15]:
# 위 결과 미사용

mid_all_scores = pd.concat([mid_py_scores_df, mid_big_scores_df, mid_algo_scores_df])
all_students = pd.concat([students_2021_df, students_2022_df, students_2023_df])

mid_all = mid_all_scores.merge(all_students, left_on='sid', right_on='sid')
print(mid_all)

       sid  score    name     sex
0   202301     70  Olivia  female
1   202302     55   Kevin    male
2   202302    100   Kevin    male
3   202303     85    Jack    male
4   202201     92  Michel    male
5   202201     85  Michel    male
6   202101     85    Emma  female
7   202101     92    Emma  female
8   202102     95    Jack    male
9   202103     90   Smith    male
10  202202     95   Jenny  female
11  202203     90    Jack    male

In [16]:
# 위 결과 사용

mid_all = pd.concat([mid_py, mid_algo, mid_big])
print(mid_all)

      sid  score    name     sex
0  202301     70  Olivia  female
1  202302     55   Kevin    male
2  202302    100   Kevin    male
3  202303     85    Jack    male
4  202201     92  Michel    male
0  202201     85  Michel    male
1  202202     95   Jenny  female
2  202203     90    Jack    male
3  202101     92    Emma  female
0  202101     85    Emma  female
1  202102     95    Jack    male
2  202103     90   Smith    male

## 7. 과목정보가 유지되도록 모든 시험결과와 학생 데이터 연결하기 (new column & concat & merge)

In [23]:
mid_py_scores_df['cid'] = 100
mid_algo_scores_df['cid'] = 200
mid_big_scores_df['cid'] = 300

mid_all_scores = pd.concat([mid_py_scores_df, mid_algo_scores_df, mid_big_scores_df])
mid_all = mid_all_scores.merge(all_students, left_on='sid', right_on='sid')

print(mid_all)

       sid  score  cid    name     sex
0   202301     70  100  Olivia  female
1   202302     55  100   Kevin    male
2   202302    100  100   Kevin    male
3   202303     85  100    Jack    male
4   202201     92  100  Michel    male
5   202201     85  200  Michel    male
6   202202     95  200   Jenny  female
7   202203     90  200    Jack    male
8   202101     92  200    Emma  female
9   202101     85  300    Emma  female
10  202102     95  300    Jack    male
11  202103     90  300   Smith    male

## 8. 7 단계에서 생성된 데이터 프레임을 이용하여 파이썬 과목 평균점수 구하기(mean)

In [30]:
mid_all['score'][mid_all['cid'] == 100].mean()

80.4

## 9. 7 단계에서 생성된 데이터 프레임을 이용하여 알고리즘 과목 남학생 평균점수 구하기(mean)

In [31]:
mid_all['score'][(mid_all['cid'] == 200) & (mid_all['sex'] == 'male')].mean()

87.5