# 05. Data Assembly 연습과제
***

## 1. 데이터 만들기

In [3]:
import pandas as pd

In [4]:
# 2021학번 학생 데이터
students_2021_df = pd.DataFrame({
    'sid': [202101, 202102, 202103],
    'name' : ['Emma', 'Jack', 'Smith'],
    'sex': ['female', 'male', 'male']
})

# 2022학번 학생 데이터
students_2022_df = pd.DataFrame({
    'sid': [202201, 202202, 202203],
    'name' : ['Michel', 'Jenny', 'Jack'],
    'sex': ['male', 'female', 'male']
})

# 2023학번 학생 데이터
students_2023_df = pd.DataFrame({
    'sid': [202301, 202302, 202303],
    'name' : ['Olivia', 'Kevin', 'Jack'],
    'sex': ['female', 'male', 'male']
})

# 과목 데이터
courses_df = pd.DataFrame({
    'cid': [100, 200, 300],
    'name': ['Python', 'Algorithm', 'Big Data']
})

# Python 중간시험 결과
mid_py_scores_df = pd.DataFrame({
    'sid': [202301, 202302, 202303, 202201, 202302],
    'score': [70, 55, 85, 92, 100],
})

# Algorithm 중간시험 결과
mid_algo_scores_df = pd.DataFrame({
    'sid': [202201, 202202, 202203, 202101],
    'score': [85, 95, 90, 92]
})

# Big Data 중간시험 결과
mid_big_scores_df = pd.DataFrame({
    'sid': [202101, 202102, 202103],
    'score': [85, 95, 90]
})

In [15]:
## 2. 모든 학생 데이터 합치기 (concat)
students_all_df = pd.concat([students_2021_df, students_2022_df, students_2023_df])
print(students_all_df)

      sid    name     sex
0  202101    Emma  female
1  202102    Jack    male
2  202103   Smith    male
0  202201  Michel    male
1  202202   Jenny  female
2  202203    Jack    male
0  202301  Olivia  female
1  202302   Kevin    male
2  202303    Jack    male

In [16]:
## 3. 파이썬 중간시험 결과와 학생 데이터 연결하기 (merge)
mid_py_scores_students_df = mid_py_scores_df.merge(students_all_df, left_on='sid', right_on='sid')
print(mid_py_scores_students_df)

      sid  score    name     sex
0  202301     70  Olivia  female
1  202302     55   Kevin    male
2  202302    100   Kevin    male
3  202303     85    Jack    male
4  202201     92  Michel    male

In [17]:
## 4. 알고리즘 중간시험 결과와 학생 데이터 연결하기 (merge)
mid_algo_scores_students_df = mid_algo_scores_df.merge(students_all_df, left_on='sid', right_on='sid')
print(mid_algo_scores_students_df)

      sid  score    name     sex
0  202201     85  Michel    male
1  202202     95   Jenny  female
2  202203     90    Jack    male
3  202101     92    Emma  female

In [21]:
## 5. 빅데이터 중간시험 결과와 학생 데이터 연결하기 (merge)
mid_big_scores_students_df = mid_big_scores_df.merge(mid_py_scores_students_df, mid_algo_scores_students_df)
print(mid_big_scores_students_df)

      sid  score   name     sex
0  202101     85   Emma  female
1  202102     95   Jack    male
2  202103     90  Smith    male

In [24]:
## 6. 모든 시험결과와 학생 데이터 연결하기 (concat & merge)
mid_all_scores_df = pd.concat([mid_py_scores_df, mid_algo_scores_df, mid_big_scores_df])
print(mid_all_scores_df)
mid_all_scores_students_df = mid_all_scores_df.merge(students_all_df, left_on='sid', right_on='sid')
print(mid_all_scores_students_df)

      sid  score
0  202301     70
1  202302     55
2  202303     85
3  202201     92
4  202302    100
0  202201     85
1  202202     95
2  202203     90
3  202101     92
0  202101     85
1  202102     95
2  202103     90
       sid  score    name     sex
0   202301     70  Olivia  female
1   202302     55   Kevin    male
2   202302    100   Kevin    male
3   202303     85    Jack    male
4   202201     92  Michel    male
5   202201     85  Michel    male
6   202202     95   Jenny  female
7   202203     90    Jack    male
8   202101     92    Emma  female
9   202101     85    Emma  female
10  202102     95    Jack    male
11  202103     90   Smith    male

In [32]:
## 7. 과목정보가 유지되도록 모든 시험결과와 학생 데이터 연결하기 (new column & concat & merge)
mid_py_scores_df['cid'] = 100
mid_algo_scores_df['cid'] = 200
mid_big_scores_df['cid'] = 300

mid_all_scores_df = pd.concat([mid_py_scores_df, mid_algo_scores_df, mid_big_scores_df])
print(mid_all_scores_df)

mid_all_scores_students_df = mid_all_scores_df.merge(students_all_df, on='sid')
print(mid_all_scores_students_df)

      sid  score  cid
0  202301     70  100
1  202302     55  100
2  202303     85  100
3  202201     92  100
4  202302    100  100
0  202201     85  200
1  202202     95  200
2  202203     90  200
3  202101     92  200
0  202101     85  300
1  202102     95  300
2  202103     90  300
       sid  score  cid    name     sex
0   202301     70  100  Olivia  female
1   202302     55  100   Kevin    male
2   202302    100  100   Kevin    male
3   202303     85  100    Jack    male
4   202201     92  100  Michel    male
5   202201     85  200  Michel    male
6   202202     95  200   Jenny  female
7   202203     90  200    Jack    male
8   202101     92  200    Emma  female
9   202101     85  300    Emma  female
10  202102     95  300    Jack    male
11  202103     90  300   Smith    male

In [37]:
## 8. 7 단계에서 생성된 데이터 프레임을 이용하여 파이썬 과목 평균점수 구하기(mean)
mid_all_scores_students_df[mid_all_scores_students_df['cid'] == 100]['score'].mean()

80.4

In [40]:
## 9. 7 단계에서 생성된 데이터 프레임을 이용하여 알고리즘 과목 남학생 평균점수 구하기(mean)
mid_all_scores_students_df[(mid_all_scores_students_df['cid'] == 200) & (mid_all_scores_students_df['sex'] == 'male')]['score'].mean()

87.5