# 누락값 확인하기

In [1]:
from numpy import NaN, NAN, nan

# 누락값을 포함한 데이터를 불러올 때

In [16]:
print(NaN == True)
print(NaN == False)
print(NaN == 0)
print(NaN == '')
print("-------------------------------------------------------------------------------------")
print(NaN == NaN)
print(NaN == nan)
print(NaN == NAN)
print(nan == NAN)
print("-------------------------------------------------------------------------------------")

import pandas as pd
print(pd.isnull(NaN))
print(pd.isnull(nan))
print(pd.isnull(NAN))
print(pd.notnull(42))
print(pd.notnull('missing'))

False
False
False
False
-------------------------------------------------------------------------------------
False
False
False
False
-------------------------------------------------------------------------------------
True
True
True
True
True

# 데이터 집합을 연결할 때 누락값이 발생하는 경우

In [20]:
visited = pd.read_csv('../data/survey_visited.csv')
survey = pd.read_csv('../data/survey_survey.csv')

# print(visited)
# print(survey)

vs = visited.merge(survey, left_on='ident', right_on='taken')
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

# 데이터를 입력할 때 누락값이 발생하는 경우

In [22]:
num_legs = pd.Series({'goat' : 4, 'amoeba' : nan})
print(num_legs)
print(type(num_legs))

goat      4.0
amoeba    NaN
dtype: float64
<class 'pandas.core.series.Series'>

# 인덱스를 다시 만들 때 누락값이 발생하는 경우

In [32]:
gapminder = pd.read_csv('../data/gapminder.tsv', sep='\t')
life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
# print(life_exp)

# print(life_exp.loc[range(2000, 2010), ])
y2000 = life_exp[life_exp.index > 2000]
# print(y2000)

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 누락값의 개수 구하기

In [44]:
ebola = pd.read_csv('../data/country_timeseries.csv')
# print(ebola.count())
num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count()
# print(num_rows)
# print(num_missing)

import numpy as np
# print(np.count_nonzero(ebola.isnull()))
# print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))
print(ebola.Cases_Guinea.value_counts(dropna=False).head())

Cases_Guinea
NaN      29
86.0      3
495.0     2
112.0     2
390.0     2
Name: count, dtype: int64

# 누락값을 다른 값으로 변경하기

In [50]:
# print(ebola.fillna(0).iloc[0:10, 0:5])
# print(ebola.fillna(method='ffill').iloc[0:10, 0:5])
# print(ebola.fillna(method='bfill').iloc[0:10, 0:5])
# print(ebola.interpolate().iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

# 누락값 삭제하기

In [57]:
print(ebola.shape)

ebola_dropna = ebola.dropna()
print(ebola_dropna.shape)
print(ebola_dropna)

(122, 18)
(1, 18)
          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
19  11/18/2014  241        2047.0         7082.0             6190.0  \

    Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali
19           20.0            1.0                 4.0          1.0         6.0  \

    Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria
19         1214.0          2963.0              1267.0             8.0  \

    Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
19             0.0                  1.0           0.0          6.0

# 누락값이 포함된 데이터 계산하기

In [63]:
ebola['Cases_multiple'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + ebola['Cases_SierraLeone']
ebola_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone', 'Cases_multiple']]
# print(ebola_subset.head(n=10))

print(ebola.Cases_Guinea.sum(skipna = True))

84729.0

In [64]:
print(ebola.Cases_Guinea.sum(skipna = False))

nan