In [12]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset("tips")

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01    Male     No  Sun  Dinner     2    Male
1       10.34  1.66    Male     No  Sun  Dinner     3     NaN
2       21.01  3.50    Male     No  Sun  Dinner     3     NaN
3       23.68  3.31    Male     No  Sun  Dinner     2     NaN
4       24.59  3.61  Female     No  Sun  Dinner     4     NaN

# 첫번째 행 데이터의 'sex'값을 Male, 'sex_str'값을 Male로 변경

In [ ]:
tips.loc[0, 'sex'] = 'Male'
tips.loc[0, 'sex_str'] = 'Male'
print(tips.head())

# dtypes 속성으로 데이터프레임의 자료형 살펴보기

# 여러 가지 자료형을 문자열로 변환하기

# 자료형을 변환한 데이터 다시 원래대로 만들기

In [13]:
tips['total_bill'].astype(str)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

# 잘못 입력한 문자열 처리하기

In [ ]:
tips_sub_miss = tips.head(10)

# 문자열을 카테고리로 변환하기

In [14]:
print(tips)

     total_bill   tip     sex smoker   day    time  size sex_str
0         16.99  1.01    Male     No   Sun  Dinner     2    Male
1         10.34  1.66    Male     No   Sun  Dinner     3     NaN
2         21.01  3.50    Male     No   Sun  Dinner     3     NaN
3         23.68  3.31    Male     No   Sun  Dinner     2     NaN
4         24.59  3.61  Female     No   Sun  Dinner     4     NaN
..          ...   ...     ...    ...   ...     ...   ...     ...
239       29.03  5.92    Male     No   Sat  Dinner     3     NaN
240       27.18  2.00  Female    Yes   Sat  Dinner     2     NaN
241       22.67  2.00    Male    Yes   Sat  Dinner     2     NaN
242       17.82  1.75    Male     No   Sat  Dinner     2     NaN
243       18.78  3.00  Female     No  Thur  Dinner     2     NaN

[244 rows x 8 columns]

In [26]:
tips['smoker'] = tips['smoker'].astype('category')

In [29]:
tips.loc[0, 'smoker'] = 'Both'
print(tips.head())

   total_bill   tip     sex smoker  day    time  size sex_str (0, smoker)
0       16.99  1.01    Male   Both  Sun  Dinner     2    Male        Both
1       10.34  1.66    Male     No  Sun  Dinner     3     NaN        Both
2       21.01  3.50    Male     No  Sun  Dinner     3     NaN        Both
3       23.68  3.31    Male   Both  Sun  Dinner     2     NaN        Both
4       24.59  3.61  Female    Yes  Sun  Dinner     4     NaN        Both