# Pandas Recap Solution

# 1. Pandas DataFrame Basics
***

## 1.1 데이터 집합 불러오기

In [1]:
import pandas as pd
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [2]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

## 1.2 열단위 데이터 추출

### df에서 'country'열을 추출하여 country_sr 변수에 저장하기. (country_sr의 타입은 Series 가 되어야 한다)

In [ ]:
country_sr = df['country']

In [ ]:
print(type(country_sr))
print(country_sr.head())

### 'year'열과 'pop'열을 동시에 추출하여 year_pop_df 변수에 저장하기. (year_pop_df의 타입은 DataFrame이 되어야 한다)

In [ ]:
year_pop_df = df[['year', 'pop']]

In [ ]:
print(type(year_pop_df))
print(year_pop_df.head())

### 'year'열을 추출하여 year_df 변수에 저장하기. (year_df의 타입은 DataFrame이 되어야 한다)

In [ ]:
year_df = df[['year']]

In [ ]:
print(type(year_df))
print(year_df.head())

## 1.3 행단위 데이터 추출

### df에서 2번째 행 데이터 추출하기 (loc 속성 이용)

In [ ]:
print(df.loc[1])

### df에서 2번째 행 데이터 추출하기 (iloc 속성 이용)

In [ ]:
print(df.iloc[1])

### df에서 마지막 행 데이터 추출하기 (loc 속성 이용)

In [ ]:
number_of_rows = df.shape[0]
last_row_index = number_of_rows - 1
print(df.loc[last_row_index])

### df에서 마지막 행 데이터 추출하기 (iloc 속성 이용)

In [ ]:
print(df.iloc[-1])

## 1.4 loc, iloc 속성 자유자재로 사용하기 - [ [ 행 ], [ 열 ] ]

### 'country', 'year', 'gdpPercap' 열에 대해 모든 행 데이터 추출하기(loc 사용)

In [ ]:
print(df.loc[:, ['country', 'year', 'gdpPercap']])

### 'country', 'year', 'gdpPercap' 열에 대해 처음부터 100개 행 데이터 추출하기(loc 사용)

In [ ]:
print(df.loc[:99, ['country', 'year', 'gdpPercap']])

### 'country', 'year', 'gdpPercap' 열에 대해 처음부터 100개 행 데이터 추출하기(iloc 사용)

In [ ]:
print(df.iloc[:100, [0, 2, -1]])

# 2. Pandas Data Structures
***

## 2.1 데이터 만들기

In [ ]:
import pandas as pd

In [ ]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

## 2.2 데이터 추출

### 'William Gosset' 행 데이터 추출하기 (loc 사용)

In [ ]:
print(scientists.loc['William Gosset'])

### 'William Gosset' 행 데이터 추출하기 (iloc 사용)

In [ ]:
print(scientists.iloc[1])

### 'William Gosset'의 Occupation 추출 (loc 사용)

In [ ]:
print(scientists.loc['William Gosset', 'Occupation'])

### 'Rosaline Franklin'의 Occupation을 Programmer 로 변경(iloc 사용)

In [ ]:
scientists.iloc[0, 0] = 'Programmer'
print(scientists)

## 2.3 index, columns, values 속성 사용하기

### scientists의 index 가져오기

In [ ]:
print(scientists.index)

### scientists의 columns 가져오기

In [ ]:
print(scientists.columns)

### scientists의 모든 values 가져오기

In [ ]:
print(scientists.values)

## 2.4 시리즈의 기초 통계 메서드 사용하기

### 시리즈 메서드 정리

| 시리즈 메서드    | 설명 |
| ----------------| --- |
| append          | 2개 이상의 시리즈 연결 |
| describe        | 요약 통계량 계산 |
| drop_duplicates | 중복값이 없는 시리즈 반환 |
| equals          | 시리즈에 해당 값을 가진 요소가 있는지 확인 |
| get_values      | 시리즈 값 구하기 (values 속성과 동일) |
| isin            | 시리즈에 포함된 값이 있는지 확인 |
| min             | 최솟값 반환 |
| max             | 최댓값 반환 |
| mean            | 산술 평균 반환 |
| median          | 중간값 반환 |
| replace         | 특정 값을 가진 시리즈 값을 교체 |
| sample          | 시리즈에서 임의의 값을 반환 |
| sort_values     | 값을 정렬 |
| to_frame        | 시리즈를 데이터프레임으로 변환 |

### scientists 에서 평균 나이 ('Age'열) 구하기

In [ ]:
print(scientists['Age'].mean())

### scientists 에서 최대 나이 ('Age'열) 구하기

In [ ]:
print(scientists['Age'].max())

### scientists 에서 최소 나이 ('Age'열) 구하기

In [ ]:
print(scientists['Age'].min())

### scientists 에서 나이('Age'열)에 대한 표준편차 구하기

In [ ]:
print(scientists['Age'].std())

## 2.5 시리즈 다루기 - 응용

In [3]:
scientists = pd.read_csv('../data/scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

### 수명(Age)이 평균수명 보다 적은 과학자들의 수명 데이터(시리즈) 추출하기

In [ ]:
ages = scientists['Age'] 

print(ages[ages < ages.mean()])

### 수명(Age)이 평균수명 보다 큰 과학자들의 이름(Name) 데이터(시리즈) 추출하기

In [ ]:
ages = scientists['Age']
names = scientists['Name'] 

print(names[ages > ages.mean()])

### 1800년대에 태어난 과학자들의 이름(Name) 데이터(시리즈) 추출하기 (& 연산자 사용)

In [ ]:
names = scientists['Name'] 
borns = scientists['Born']

print(names[(borns >= '1800-01-01') & (borns < '1900-01-01')])
#print(names[(borns >= '18') & (borns < '19')])

### 직업(Occupation)이 Chemist 또는 Physician 인 과학자들의 이름(Name) 데이터(시리즈) 추출하기 (| 연산자 사용)

In [ ]:
names = scientists['Name'] 
occupations = scientists['Occupation']

print(names[(occupations == 'Chemist') | (occupations == 'Physician')])

### 수명 데이터에 10 더하기

In [ ]:
ages = scientists['Age']
print (ages + 10)

## 2.6 데이터프레임 다루기

### 수명(Age)이 평균수명 보다 적은 과학자들의 전체 데이터(데이터프레임) 추출하기

In [ ]:
ages = scientists['Age']

print(scientists[ages < ages.mean()])

### 출생일(Born) 데이터의 타입을 datetime 으로 변환하여 새로운 열(Born_dt)로 추가하기 (to_datetime 사용)

In [ ]:
scientists['Born_dt'] = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(scientists)

### 출생일(Born_dt) 데이터를 사용하여 1850년 이후에 태어난 과학자의 전체데이터(데이터프레임) 추출하기

In [ ]:
print(scientists[scientists['Born_dt'].dt.year > 1850])

### Born_dt 열 삭제하기 (drop 함수 사용)

In [ ]:
scientists.drop('Born_dt', axis=1, inplace=True)
print(scientists)

# 3. Data Assembly, Tidy Data, Data Types and Groupby
***

## 3.1 데이터 불러오기

In [ ]:
import pandas as pd

In [ ]:
scores_1_1 = pd.read_csv('../data/scores_1_1.csv', header=None)
scores_1_2 = pd.read_csv('../data/scores_1_2.csv', header=None)
scores_2_1 = pd.read_csv('../data/scores_2_1.csv', header=None)
scores_2_2 = pd.read_csv('../data/scores_2_2.csv', header=None)

## 3.2 데이터 합치기

### scores_1_1 와 scores_1_2 를 열기준(axis=1) 으로 합쳐 scores_1 변수에 저장하기 (concat)

In [ ]:
scores_1 = pd.concat([scores_1_1, scores_1_2], axis=1, ignore_index=True)

### scores_1 의 열이름을 1, 2, 3, ... 로 변경하기

In [ ]:
scores_1.columns = range(1, len(scores_1.columns) + 1)

### scores_1 에서 누락 데이터를 0 으로 채우기 (fillna)

In [ ]:
scores_1.fillna(0, inplace=True)
print(scores_1.head())

### scores_1 모든 데이터타입을 int32 으로 변경하기 (astype)

In [ ]:
scores_1 = scores_1.astype('int32')

### scores_1 의 모든 데이터에 4를 곱한 값으로 재지정 하기 (브로드캐스팅)

In [ ]:
scores_1 = scores_1 * 4
print(scores_1.head())

### scores_1 에 새로운 class 열 추가하기(class 데이터 값은 모두 '1반')

In [ ]:
scores_1['class'] = '1반'

### scores_2_1 와 scores_2_2 를 열기준(axis=1) 으로 합쳐 scores_2 변수에 저장하기 (concat)

In [ ]:
scores_2 = pd.concat([scores_2_1, scores_2_2], axis=1, ignore_index=True)

### scores_2 의 열이름을 1, 2, 3, ... 로 변경하기 (range)

In [ ]:
scores_2.columns = range(1, len(scores_2.columns) + 1)

### scores_2 에서 누락 데이터를 0 으로 채우기 (fillna)

In [ ]:
scores_2.fillna(0, inplace=True)
print(scores_2.head())

### scores_2 의 모든 데이터타입을 int32 으로 변경하기 (astype)

In [ ]:
scores_2 = scores_2.astype('int32')

### scores_2 의 모든 데이터에 4를 곱한 값으로 재지정하기 (브로드캐스팅)

In [ ]:
scores_2 = scores_2 * 4
print(scores_2.head())

### sores_2 에 새로운 class열 추가하기(class 데이터 값은 모두 '2반')

In [ ]:
scores_2['class'] = '2반'

### scores_1 과 scores_2 를 행기준(axis=0) 으로 합쳐 scores 변수에 저장하기 (concat)

In [ ]:
scores = pd.concat([scores_1, scores_2], axis=0, ignore_index=True)

### scores에 새로운 id열(values = 1, 2, 3, ...) 추가하기

In [ ]:
scores['id'] = range(1, len(scores) + 1)
print(scores)

### class 열의 데이터타입을 category 로 변경하기 (astype)

In [ ]:
scores['class'] = scores['class'].astype('category')
print(scores.dtypes)

## 3.3 분석하기

### class, id 열을 고정하고, 나머지 열을 피벗하여 scores_long 변수에 저장하기 (melt - var_name='question', value_name='score')

In [ ]:
scores_long = pd.melt(scores, id_vars=['class', 'id'],
                      var_name='question', value_name='score')
print(scores_long)

### scores_long 에서 학생별 점수 구하기 (groupby, sum)

In [ ]:
print(scores_long.groupby('id').score.sum())

### scores_long 에서 반/학생별 점수 구하여 class_scores 변수에 저장하기 (groupby, sum, reset_index)

In [ ]:
class_scores = scores_long.groupby(['class', 'id']).score.sum().reset_index()
print(class_scores)

### class_scores에서 반별 평균 점수 구하기 (groupby, mean)

In [ ]:
print(class_scores.groupby('class').score.mean())

### class_scores에서 반별 기술통계 항목 구하기 (groupby, describe)

In [ ]:
print(class_scores.groupby('class').score.describe())

# 4. Regular Expression
***

## 4.1 문자열에서 찾기

In [4]:
import pandas as pd
import re

sample = """
750101-1123146 01012345677
900201-2123121 010-2234-7799
950722-2027193 010-2987-7222
000321-3123142 011_1234_9087
001105-4333127 010 4422 1485
0009213876575  01045845987
"""

### 전화번호 추출하기

In [3]:
p = re.compile('\d{3}[-_\s]?\d{4}[-_\s]?\d{4}$', re.MULTILINE)
print(p.findall(sample))

['01012345677', '010-2234-7799', '010-2987-7222', '011_1234_9087', '010 4422 1485', '01045845987']

### 주민등록번호 추출하기

In [ ]:
p = re.compile('^\d{6}-?\d{7}', re.MULTILINE)
print(p.findall(sample))

### 여성 주민등록번호 추출하기

In [5]:
p = re.compile('^\d{6}-?[24]\d{6}', re.MULTILINE)
print(p.findall(sample))

['900201-2123121', '950722-2027193', '001105-4333127']

## 4.2 데이터프레임에서 찾기

In [ ]:
scientists = pd.read_csv('../data/scientists.csv')
print(scientists)

### 5월에 태어난 과학자 추출

In [ ]:
print(scientists[scientists.Born.str.match('\d{4}-05-\d{2}')])

### 성(last name)이 C로 시작하는 과학자 추출

In [ ]:
print(scientists[scientists.Name.str.match('\w+\s[cC]\w+')])