# Pandas Recap

# 1. Pandas DataFrame Basics
***

## 1.1 데이터 집합 불러오기

In [1]:
import pandas as pd
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [65]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

## 1.2 열단위 데이터 추출

### df에서 'country'열을 추출하여 country_sr 변수에 저장하기. (country_sr의 타입은 Series 가 되어야 한다)

In [5]:
country_sr = df['country']
country_sr

pandas.core.series.Series

### 'year'열과 'pop'열을 동시에 추출하여 year_pop_df 변수에 저장하기. (year_pop_df의 타입은 DataFrame이 되어야 한다)

In [9]:
year_pop_df = df[['year', 'pop']]
year_pop_df

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

### 'year'열을 추출하여 year_df 변수에 저장하기. (year_df의 타입은 DataFrame이 되어야 한다)

In [11]:
year_df = df[['year']]
year_df

pandas.core.frame.DataFrame

## 1.3 행단위 데이터 추출

### df에서 2번째 행 데이터 추출하기 (loc 속성 이용)

In [82]:
print(df)

print(df.loc[1])

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]
country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

### df에서 2번째 행 데이터 추출하기 (iloc 속성 이용)

In [50]:
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

### df에서 마지막 행 데이터 추출하기 (loc 속성 이용)

In [51]:
num_rows = df.shape[0]
print(df.loc[num_rows-1])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

### df에서 마지막 행 데이터 추출하기 (iloc 속성 이용)

In [28]:
print(df.iloc[-1])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

## 1.4 loc, iloc 속성 자유자재로 사용하기 - [ [ 행 ], [ 열 ] ]

### 'country', 'year', 'gdpPercap' 열에 대해 모든 행 데이터 추출하기(loc 사용)

In [73]:
print(df.loc[:, ['country', 'year', 'gdpPercap']])

          country  year   gdpPercap
0     Afghanistan  1952  779.445314
1     Afghanistan  1957  820.853030
2     Afghanistan  1962  853.100710
3     Afghanistan  1967  836.197138
4     Afghanistan  1972  739.981106
...           ...   ...         ...
1699     Zimbabwe  1987  706.157306
1700     Zimbabwe  1992  693.420786
1701     Zimbabwe  1997  792.449960
1702     Zimbabwe  2002  672.038623
1703     Zimbabwe  2007  469.709298

[1704 rows x 3 columns]

### 'country', 'year', 'gdpPercap' 열에 대해 처음부터 100개 행 데이터 추출하기(loc 사용)

In [53]:
print(df.loc[:99, ['country','year','gdpPercap']])

        country  year     gdpPercap
0   Afghanistan  1952    779.445314
1   Afghanistan  1957    820.853030
2   Afghanistan  1962    853.100710
3   Afghanistan  1967    836.197138
4   Afghanistan  1972    739.981106
..          ...   ...           ...
95      Bahrain  2007  29796.048340
96   Bangladesh  1952    684.244172
97   Bangladesh  1957    661.637458
98   Bangladesh  1962    686.341554
99   Bangladesh  1967    721.186086

[100 rows x 3 columns]

### 'country', 'year', 'gdpPercap' 열에 대해 처음부터 100개 행 데이터 추출하기(iloc 사용)

In [63]:
print(df.iloc[:100, [0,2,5]])

        country  year     gdpPercap
0   Afghanistan  1952    779.445314
1   Afghanistan  1957    820.853030
2   Afghanistan  1962    853.100710
3   Afghanistan  1967    836.197138
4   Afghanistan  1972    739.981106
..          ...   ...           ...
95      Bahrain  2007  29796.048340
96   Bangladesh  1952    684.244172
97   Bangladesh  1957    661.637458
98   Bangladesh  1962    686.341554
99   Bangladesh  1967    721.186086

[100 rows x 3 columns]

# 2. Pandas Data Structures
***

## 2.1 데이터 만들기

In [67]:
import pandas as pd

In [93]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

## 2.2 데이터 추출

### 'William Gosset' 행 데이터 추출하기 (loc 사용)

In [85]:
print(scientists.loc['William Gosset'])

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

### 'William Gosset' 행 데이터 추출하기 (iloc 사용)

In [89]:
print(scientists.iloc[1])

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

### 'William Gosset'의 Occupation 추출 (loc 사용)

In [80]:
print(scientists.loc['William Gosset', 'Occupation'])

Statistician

### 'Rosaline Franklin'의 Occupation을 Programmer 로 변경(iloc 사용)

In [94]:
scientists.iloc[0, 0] = 'Programmer'
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin    Programmer  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

## 2.3 index, columns, values 속성 사용하기

### scientists의 index 가져오기

In [96]:
scientists.index

Index(['Rosaline Franklin', 'William Gosset'], dtype='object')

### scientists의 columns 가져오기

In [97]:
scientists.columns

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### scientists의 모든 values 가져오기

In [98]:
scientists.values

array([['Programmer', '1920-07-25', '1958-04-16', 37],
       ['Statistician', '1876-06-13', '1937-10-16', 61]], dtype=object)

## 2.4 시리즈의 기초 통계 메서드 사용하기

### 시리즈 메서드 정리

| 시리즈 메서드    | 설명 |
| ----------------| --- |
| append          | 2개 이상의 시리즈 연결 |
| describe        | 요약 통계량 계산 |
| drop_duplicates | 중복값이 없는 시리즈 반환 |
| equals          | 시리즈에 해당 값을 가진 요소가 있는지 확인 |
| get_values      | 시리즈 값 구하기 (values 속성과 동일) |
| isin            | 시리즈에 포함된 값이 있는지 확인 |
| min             | 최솟값 반환 |
| max             | 최댓값 반환 |
| mean            | 산술 평균 반환 |
| median          | 중간값 반환 |
| replace         | 특정 값을 가진 시리즈 값을 교체 |
| sample          | 시리즈에서 임의의 값을 반환 |
| sort_values     | 값을 정렬 |
| to_frame        | 시리즈를 데이터프레임으로 변환 |

### scientiest 에서 평균 나이 ('Age'열) 구하기

In [101]:
print(scientists)

print(scientists['Age'].mean())

                     Occupation        Born        Died  Age
Rosaline Franklin    Programmer  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61
49.0

### scientiest 에서 최대 나이 ('Age'열) 구하기

In [102]:
print(scientists['Age'].max())

61

### scientiest 에서 최소 나이 ('Age'열) 구하기

In [103]:
print(scientists['Age'].mean())

49.0

### scientiest 에서 나이('Age'열)에 대한 표준편차 구하기

In [104]:
print(scientists['Age'].std())

16.97056274847714

## 2.5 시리즈 다루기 - 응용

In [105]:
scientists = pd.read_csv('../data/scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

### 수명(Age)이 평균수명 보다 적은 과학자들의 수명 데이터(시리즈) 추출하기

In [109]:
ages = scientists['Age']

print(ages[ages < ages.mean()])

0    37
4    56
5    45
6    41
Name: Age, dtype: int64

### 수명(Age)이 평균수명 보다 큰 과학자들의 이름(Name) 데이터(시리즈) 추출하기

In [110]:
ages = scientists['Age']

print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

### 1800년대에 태어난 과학자들의 이름(Name) 데이터(시리즈) 추출하기 (& 연산자 사용)

In [121]:
name = scientists['Name']
born = scientists['Born']

# 1800-01-01 <= x < 1900-01-01
print(name[('1800-01-01' <= born) & (born < '1900-01-01')])

1          William Gosset
2    Florence Nightingale
3             Marie Curie
5               John Snow
Name: Name, dtype: object

### 직업(Occupation)이 Chemist 또는 Physician 인 과학자들의 이름(Name) 데이터(시리즈) 추출하기 (| 연산자 사용)

In [126]:
name = scientists['Name']
occu = scientists['Occupation']

print(name[(occu == 'Chemist') | (occu == 'Physician')])

0    Rosaline Franklin
3          Marie Curie
5            John Snow
Name: Name, dtype: object

### 수명 데이터에 10 더하기

In [135]:
ages = scientists['Age']
print(ages + 10)

0     47
1     71
2    100
3     76
4     66
5     55
6     51
7     87
Name: Age, dtype: int64

## 2.6 데이터프레임 다루기

### 수명(Age)이 평균수명 보다 적은 과학자들의 전체 데이터(데이터프레임) 추출하기

In [140]:
print(scientists)

ages = scientists['Age']
ages_avg = scientists['Age'].mean()

print(scientists[ages < ages_avg])

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician
                Name        Born        Died  Age          Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5          John Snow  1813-03-15  1858-06-16   45           Physician
6        Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist

### 출생일(Born) 데이터의 타입을 datetime 으로 변환하여 새로운 열(Born_dt)로 추가하기 (to_datetime 사용)

In [142]:
scientists['Born_dt'] = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist  \
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     Born_dt
0 1920-07-25
1 1876-06-13
2 1820-05-12
3 1867-11-07
4 1907-05-27
5 1813-03-15
6 1912-06-23
7 1777-04-30

### 출생일(Born_dt) 데이터를 사용하여 1850년 이후에 태어난 과학자의 전체데이터(데이터프레임) 추출하기

In [146]:
born_dt = scientists['Born_dt']

print(scientists[born_dt > '1850'])
print("------------------------------------")
print(scientists[scientists['Born_dt'].dt.year > 1850])

                Name        Born        Died  Age          Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist  \
1     William Gosset  1876-06-13  1937-10-16   61        Statistician
3        Marie Curie  1867-11-07  1934-07-04   66             Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56           Biologist
6        Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist

     Born_dt
0 1920-07-25
1 1876-06-13
3 1867-11-07
4 1907-05-27
6 1912-06-23
------------------------------------
                Name        Born        Died  Age          Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist  \
1     William Gosset  1876-06-13  1937-10-16   61        Statistician
3        Marie Curie  1867-11-07  1934-07-04   66             Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56           Biologist
6        Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist

     Born_dt
0 1920-07-25
1 1876-06-13
3 1867-11-07
4 1907-05-27
6 1912-06-23

### Born_dt 열 삭제하기 (drop 함수 사용)

In [147]:
scientists.drop('Born_dt', axis=1, inplace=True)
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

# 3. Data Assembly, Tidy Data, Data Types and Groupby
***

## 3.1 데이터 불러오기

In [148]:
import pandas as pd

In [149]:
scores_1_1 = pd.read_csv('../data/scores_1_1.csv', header=None)
scores_1_2 = pd.read_csv('../data/scores_1_2.csv', header=None)
scores_2_1 = pd.read_csv('../data/scores_2_1.csv', header=None)
scores_2_2 = pd.read_csv('../data/scores_2_2.csv', header=None)

## 3.2 데이터 합치기

### scores_1_1 와 scores_1_2 를 열기준(axis=1) 으로 합쳐 scores_1 변수에 저장하기 (concat)

In [151]:
scores_1 = pd.concat([scores_1_1, scores_1_2], axis=1, ignore_index=True)

print(scores_1)

     0   1   2    3    4   5   6   7    8   9   ...  15  16   17  18  19  20
0   NaN   0   0  0.0  1.0   0   0   1  0.0   0  ...   0   0  0.0   1   0   1  \
1   1.0   1   1  0.0  1.0   0   1   1  1.0   0  ...   0   0  0.0   1   1   0
2   0.0   0   1  1.0  1.0   1   0   1  0.0   0  ...   0   0  0.0   0   0   0
3   1.0   1   1  1.0  1.0   1   1   1  1.0   0  ...   1   1  1.0   1   1   0
4   1.0   1   1  0.0  1.0   0   0   1  1.0   0  ...   1   0  0.0   0   1   1
5   1.0   1   0  1.0  1.0   1   0   1  1.0   0  ...   1   0  1.0   1   1   1
6   1.0   1   0  1.0  0.0   1   1   1  1.0   0  ...   0   0  0.0   0   1   0
7   1.0   1   0  0.0  1.0   0   0   1  0.0   0  ...   1   0  0.0   1   1   0
8   1.0   0   1  1.0  1.0   0   0   1  1.0   0  ...   1   0  0.0   1   1   0
9   1.0   0   1  0.0  1.0   0   0   0  0.0   0  ...   0   0  1.0   0   0   1
10  1.0   0   0  0.0  1.0   0   0   1  0.0   0  ...   1   1  1.0   1   0   0
11  1.0   1   0  0.0  1.0   0   0   0  1.0   0  ...   1   0  0.0   0   0   0
12  1.0   1   0  0.0  0.0   0   0   1  0.0   0  ...   0   0  0.0   1   1   0
13  1.0   1   1  0.0  1.0   0   1   1  1.0   1  ...   1   1  0.0   0   1   0
14  1.0   1   0  1.0  1.0   1   0   1  1.0   1  ...   1   0  1.0   1   1   1
15  1.0   1   1  0.0  1.0   0   0   1  1.0   1  ...   1   1  1.0   1   1   0
16  1.0   1   0  0.0  0.0   0   0   0  1.0   0  ...   0   0  0.0   0   0   1
17  1.0   0   0  0.0  1.0   0   0   1  0.0   0  ...   1   1  1.0   1   1   0
18  1.0   1   0  0.0  1.0   0   0   1  0.0   0  ...   1   0  1.0   0   0   0
19  1.0   1   1  0.0  1.0   0   0   1  1.0   1  ...   0   0  0.0   1   0   0
20  1.0   1   1  0.0  0.0   0   0   1  0.0   1  ...   0   0  0.0   1   0   0
21  1.0   0   1  0.0  1.0   0   0   0  1.0   0  ...   1   0  0.0   0   1   0
22  1.0   0   1  0.0  0.0   0   0   0  0.0   0  ...   0   0  0.0   0   0   0
23  1.0   0   1  NaN  1.0   0   0   1  0.0   1  ...   0   1  0.0   1   0   0
24  1.0   0   1  0.0  0.0   0   1   0  1.0   0  ...   0   0  0.0   0   1   0
25  1.0   1   1  0.0  0.0   0   0   1  0.0   0  ...   1   0  0.0   1   0   1
26  1.0   0   0  0.0  NaN   1   0   0  1.0   1  ...   0   0  1.0   0   0   0
27  1.0   1   1  0.0  0.0   1   1   1  0.0   0  ...   0   0  NaN   0   0   1
28  1.0   0   0  0.0  1.0   0   0   0  1.0   1  ...   0   1  0.0   1   0   0
29  1.0   1   0  1.0  1.0   1   1   1  1.0   1  ...   1   1  1.0   1   1   0
30  1.0   0   1  0.0  1.0   0   0   1  1.0   0  ...   1   0  0.0   1   1   0
31  1.0   0   1  0.0  1.0   0   0   0  1.0   0  ...   0   0  0.0   0   0   1
32  1.0   0   1  0.0  1.0   0   0   0  1.0   0  ...   0   0  0.0   1   1   0
33  0.0   0   1  1.0  0.0   0   0   0  0.0   0  ...   0   0  0.0   0   1   1
34  1.0   0   1  1.0  0.0   1   0   1  0.0   0  ...   0   0  1.0   0   0   1
35  1.0   1   1  0.0  1.0   0   1   1  0.0   0  ...   1   1  1.0   1   1   1
36  1.0   1   0  1.0  0.0   1   0   0  NaN   0  ...   0   1  0.0   0   1   0
37  1.0   0   0  0.0  1.0   0   0   0  1.0   0  ...   1   0  0.0   1   1   1

     21   22   23  24
0   1.0  1.0  0.0   1
1   1.0  1.0  0.0   1
2   0.0  0.0  0.0   1
3   1.0  1.0  1.0   1
4   1.0  1.0  1.0   1
5   1.0  1.0  1.0   1
6   0.0  1.0  1.0   0
7   1.0  1.0  1.0   1
8   1.0  1.0  1.0   1
9   1.0  1.0  0.0   1
10  1.0  1.0  0.0   1
11  1.0  1.0  0.0   1
12  1.0  1.0  0.0   0
13  1.0  1.0  1.0   1
14  1.0  1.0  0.0   0
15  1.0  1.0  1.0   1
16  1.0  NaN  1.0   0
17  0.0  0.0  0.0   1
18  1.0  1.0  0.0   1
19  1.0  1.0  1.0   0
20  0.0  0.0  0.0   0
21  1.0  0.0  0.0   1
22  0.0  0.0  0.0   1
23  0.0  1.0  0.0   0
24  NaN  0.0  1.0   1
25  1.0  1.0  0.0   0
26  0.0  0.0  0.0   0
27  0.0  1.0  1.0   0
28  0.0  0.0  0.0   1
29  1.0  1.0  1.0   1
30  1.0  1.0  1.0   1
31  0.0  1.0  0.0   0
32  0.0  0.0  1.0   1
33  0.0  1.0  0.0   1
34  0.0  0.0  NaN   1
35  1.0  1.0  1.0   1
36  1.0  0.0  1.0   0
37  0.0  0.0  1.0   1

[38 rows x 25 columns]

### scores_1 의 열이름을 1, 2, 3, ... 로 변경하기

In [155]:
scores_1.columns = range(1, len(scores_1.columns) + 1)
print(scores_1)

     1   2   3    4    5   6   7   8    9   10  ...  16  17   18  19  20  21
0   NaN   0   0  0.0  1.0   0   0   1  0.0   0  ...   0   0  0.0   1   0   1  \
1   1.0   1   1  0.0  1.0   0   1   1  1.0   0  ...   0   0  0.0   1   1   0
2   0.0   0   1  1.0  1.0   1   0   1  0.0   0  ...   0   0  0.0   0   0   0
3   1.0   1   1  1.0  1.0   1   1   1  1.0   0  ...   1   1  1.0   1   1   0
4   1.0   1   1  0.0  1.0   0   0   1  1.0   0  ...   1   0  0.0   0   1   1
5   1.0   1   0  1.0  1.0   1   0   1  1.0   0  ...   1   0  1.0   1   1   1
6   1.0   1   0  1.0  0.0   1   1   1  1.0   0  ...   0   0  0.0   0   1   0
7   1.0   1   0  0.0  1.0   0   0   1  0.0   0  ...   1   0  0.0   1   1   0
8   1.0   0   1  1.0  1.0   0   0   1  1.0   0  ...   1   0  0.0   1   1   0
9   1.0   0   1  0.0  1.0   0   0   0  0.0   0  ...   0   0  1.0   0   0   1
10  1.0   0   0  0.0  1.0   0   0   1  0.0   0  ...   1   1  1.0   1   0   0
11  1.0   1   0  0.0  1.0   0   0   0  1.0   0  ...   1   0  0.0   0   0   0
12  1.0   1   0  0.0  0.0   0   0   1  0.0   0  ...   0   0  0.0   1   1   0
13  1.0   1   1  0.0  1.0   0   1   1  1.0   1  ...   1   1  0.0   0   1   0
14  1.0   1   0  1.0  1.0   1   0   1  1.0   1  ...   1   0  1.0   1   1   1
15  1.0   1   1  0.0  1.0   0   0   1  1.0   1  ...   1   1  1.0   1   1   0
16  1.0   1   0  0.0  0.0   0   0   0  1.0   0  ...   0   0  0.0   0   0   1
17  1.0   0   0  0.0  1.0   0   0   1  0.0   0  ...   1   1  1.0   1   1   0
18  1.0   1   0  0.0  1.0   0   0   1  0.0   0  ...   1   0  1.0   0   0   0
19  1.0   1   1  0.0  1.0   0   0   1  1.0   1  ...   0   0  0.0   1   0   0
20  1.0   1   1  0.0  0.0   0   0   1  0.0   1  ...   0   0  0.0   1   0   0
21  1.0   0   1  0.0  1.0   0   0   0  1.0   0  ...   1   0  0.0   0   1   0
22  1.0   0   1  0.0  0.0   0   0   0  0.0   0  ...   0   0  0.0   0   0   0
23  1.0   0   1  NaN  1.0   0   0   1  0.0   1  ...   0   1  0.0   1   0   0
24  1.0   0   1  0.0  0.0   0   1   0  1.0   0  ...   0   0  0.0   0   1   0
25  1.0   1   1  0.0  0.0   0   0   1  0.0   0  ...   1   0  0.0   1   0   1
26  1.0   0   0  0.0  NaN   1   0   0  1.0   1  ...   0   0  1.0   0   0   0
27  1.0   1   1  0.0  0.0   1   1   1  0.0   0  ...   0   0  NaN   0   0   1
28  1.0   0   0  0.0  1.0   0   0   0  1.0   1  ...   0   1  0.0   1   0   0
29  1.0   1   0  1.0  1.0   1   1   1  1.0   1  ...   1   1  1.0   1   1   0
30  1.0   0   1  0.0  1.0   0   0   1  1.0   0  ...   1   0  0.0   1   1   0
31  1.0   0   1  0.0  1.0   0   0   0  1.0   0  ...   0   0  0.0   0   0   1
32  1.0   0   1  0.0  1.0   0   0   0  1.0   0  ...   0   0  0.0   1   1   0
33  0.0   0   1  1.0  0.0   0   0   0  0.0   0  ...   0   0  0.0   0   1   1
34  1.0   0   1  1.0  0.0   1   0   1  0.0   0  ...   0   0  1.0   0   0   1
35  1.0   1   1  0.0  1.0   0   1   1  0.0   0  ...   1   1  1.0   1   1   1
36  1.0   1   0  1.0  0.0   1   0   0  NaN   0  ...   0   1  0.0   0   1   0
37  1.0   0   0  0.0  1.0   0   0   0  1.0   0  ...   1   0  0.0   1   1   1

     22   23   24  25
0   1.0  1.0  0.0   1
1   1.0  1.0  0.0   1
2   0.0  0.0  0.0   1
3   1.0  1.0  1.0   1
4   1.0  1.0  1.0   1
5   1.0  1.0  1.0   1
6   0.0  1.0  1.0   0
7   1.0  1.0  1.0   1
8   1.0  1.0  1.0   1
9   1.0  1.0  0.0   1
10  1.0  1.0  0.0   1
11  1.0  1.0  0.0   1
12  1.0  1.0  0.0   0
13  1.0  1.0  1.0   1
14  1.0  1.0  0.0   0
15  1.0  1.0  1.0   1
16  1.0  NaN  1.0   0
17  0.0  0.0  0.0   1
18  1.0  1.0  0.0   1
19  1.0  1.0  1.0   0
20  0.0  0.0  0.0   0
21  1.0  0.0  0.0   1
22  0.0  0.0  0.0   1
23  0.0  1.0  0.0   0
24  NaN  0.0  1.0   1
25  1.0  1.0  0.0   0
26  0.0  0.0  0.0   0
27  0.0  1.0  1.0   0
28  0.0  0.0  0.0   1
29  1.0  1.0  1.0   1
30  1.0  1.0  1.0   1
31  0.0  1.0  0.0   0
32  0.0  0.0  1.0   1
33  0.0  1.0  0.0   1
34  0.0  0.0  NaN   1
35  1.0  1.0  1.0   1
36  1.0  0.0  1.0   0
37  0.0  0.0  1.0   1

[38 rows x 25 columns]

### scores_1 에서 누락 데이터를 0 으로 채우기 (fillna)

In [158]:
scores_1.fillna(0, inplace=True)

print(scores_1)

     1   2   3    4    5   6   7   8    9   10  ...  16  17   18  19  20  21
0   0.0   0   0  0.0  1.0   0   0   1  0.0   0  ...   0   0  0.0   1   0   1  \
1   1.0   1   1  0.0  1.0   0   1   1  1.0   0  ...   0   0  0.0   1   1   0
2   0.0   0   1  1.0  1.0   1   0   1  0.0   0  ...   0   0  0.0   0   0   0
3   1.0   1   1  1.0  1.0   1   1   1  1.0   0  ...   1   1  1.0   1   1   0
4   1.0   1   1  0.0  1.0   0   0   1  1.0   0  ...   1   0  0.0   0   1   1
5   1.0   1   0  1.0  1.0   1   0   1  1.0   0  ...   1   0  1.0   1   1   1
6   1.0   1   0  1.0  0.0   1   1   1  1.0   0  ...   0   0  0.0   0   1   0
7   1.0   1   0  0.0  1.0   0   0   1  0.0   0  ...   1   0  0.0   1   1   0
8   1.0   0   1  1.0  1.0   0   0   1  1.0   0  ...   1   0  0.0   1   1   0
9   1.0   0   1  0.0  1.0   0   0   0  0.0   0  ...   0   0  1.0   0   0   1
10  1.0   0   0  0.0  1.0   0   0   1  0.0   0  ...   1   1  1.0   1   0   0
11  1.0   1   0  0.0  1.0   0   0   0  1.0   0  ...   1   0  0.0   0   0   0
12  1.0   1   0  0.0  0.0   0   0   1  0.0   0  ...   0   0  0.0   1   1   0
13  1.0   1   1  0.0  1.0   0   1   1  1.0   1  ...   1   1  0.0   0   1   0
14  1.0   1   0  1.0  1.0   1   0   1  1.0   1  ...   1   0  1.0   1   1   1
15  1.0   1   1  0.0  1.0   0   0   1  1.0   1  ...   1   1  1.0   1   1   0
16  1.0   1   0  0.0  0.0   0   0   0  1.0   0  ...   0   0  0.0   0   0   1
17  1.0   0   0  0.0  1.0   0   0   1  0.0   0  ...   1   1  1.0   1   1   0
18  1.0   1   0  0.0  1.0   0   0   1  0.0   0  ...   1   0  1.0   0   0   0
19  1.0   1   1  0.0  1.0   0   0   1  1.0   1  ...   0   0  0.0   1   0   0
20  1.0   1   1  0.0  0.0   0   0   1  0.0   1  ...   0   0  0.0   1   0   0
21  1.0   0   1  0.0  1.0   0   0   0  1.0   0  ...   1   0  0.0   0   1   0
22  1.0   0   1  0.0  0.0   0   0   0  0.0   0  ...   0   0  0.0   0   0   0
23  1.0   0   1  0.0  1.0   0   0   1  0.0   1  ...   0   1  0.0   1   0   0
24  1.0   0   1  0.0  0.0   0   1   0  1.0   0  ...   0   0  0.0   0   1   0
25  1.0   1   1  0.0  0.0   0   0   1  0.0   0  ...   1   0  0.0   1   0   1
26  1.0   0   0  0.0  0.0   1   0   0  1.0   1  ...   0   0  1.0   0   0   0
27  1.0   1   1  0.0  0.0   1   1   1  0.0   0  ...   0   0  0.0   0   0   1
28  1.0   0   0  0.0  1.0   0   0   0  1.0   1  ...   0   1  0.0   1   0   0
29  1.0   1   0  1.0  1.0   1   1   1  1.0   1  ...   1   1  1.0   1   1   0
30  1.0   0   1  0.0  1.0   0   0   1  1.0   0  ...   1   0  0.0   1   1   0
31  1.0   0   1  0.0  1.0   0   0   0  1.0   0  ...   0   0  0.0   0   0   1
32  1.0   0   1  0.0  1.0   0   0   0  1.0   0  ...   0   0  0.0   1   1   0
33  0.0   0   1  1.0  0.0   0   0   0  0.0   0  ...   0   0  0.0   0   1   1
34  1.0   0   1  1.0  0.0   1   0   1  0.0   0  ...   0   0  1.0   0   0   1
35  1.0   1   1  0.0  1.0   0   1   1  0.0   0  ...   1   1  1.0   1   1   1
36  1.0   1   0  1.0  0.0   1   0   0  0.0   0  ...   0   1  0.0   0   1   0
37  1.0   0   0  0.0  1.0   0   0   0  1.0   0  ...   1   0  0.0   1   1   1

     22   23   24  25
0   1.0  1.0  0.0   1
1   1.0  1.0  0.0   1
2   0.0  0.0  0.0   1
3   1.0  1.0  1.0   1
4   1.0  1.0  1.0   1
5   1.0  1.0  1.0   1
6   0.0  1.0  1.0   0
7   1.0  1.0  1.0   1
8   1.0  1.0  1.0   1
9   1.0  1.0  0.0   1
10  1.0  1.0  0.0   1
11  1.0  1.0  0.0   1
12  1.0  1.0  0.0   0
13  1.0  1.0  1.0   1
14  1.0  1.0  0.0   0
15  1.0  1.0  1.0   1
16  1.0  0.0  1.0   0
17  0.0  0.0  0.0   1
18  1.0  1.0  0.0   1
19  1.0  1.0  1.0   0
20  0.0  0.0  0.0   0
21  1.0  0.0  0.0   1
22  0.0  0.0  0.0   1
23  0.0  1.0  0.0   0
24  0.0  0.0  1.0   1
25  1.0  1.0  0.0   0
26  0.0  0.0  0.0   0
27  0.0  1.0  1.0   0
28  0.0  0.0  0.0   1
29  1.0  1.0  1.0   1
30  1.0  1.0  1.0   1
31  0.0  1.0  0.0   0
32  0.0  0.0  1.0   1
33  0.0  1.0  0.0   1
34  0.0  0.0  0.0   1
35  1.0  1.0  1.0   1
36  1.0  0.0  1.0   0
37  0.0  0.0  1.0   1

[38 rows x 25 columns]

### scores_1 모든 데이터타입을 int32 으로 변경하기 (astype)

In [159]:
scores_1.astype('int32')

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,0,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,1,1,1,0,1
1,1,1,1,0,1,0,1,1,1,0,...,0,0,0,1,1,0,1,1,0,1
2,0,0,1,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,0,1,1,1,1
4,1,1,1,0,1,0,0,1,1,0,...,1,0,0,0,1,1,1,1,1,1
5,1,1,0,1,1,1,0,1,1,0,...,1,0,1,1,1,1,1,1,1,1
6,1,1,0,1,0,1,1,1,1,0,...,0,0,0,0,1,0,0,1,1,0
7,1,1,0,0,1,0,0,1,0,0,...,1,0,0,1,1,0,1,1,1,1
8,1,0,1,1,1,0,0,1,1,0,...,1,0,0,1,1,0,1,1,1,1
9,1,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,1,1,1,0,1
10,1,0,0,0,1,0,0,1,0,0,...,1,1,1,1,0,0,1,1,0,1
11,1,1,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,1,1,0,1
12,1,1,0,0,0,0,0,1,0,0,...,0,0,0,1,1,0,1,1,0,0
13,1,1,1,0,1,0,1,1,1,1,...,1,1,0,0,1,0,1,1,1,1
14,1,1,0,1,1,1,0,1,1,1,...,1,0,1,1,1,1,1,1,0,0
15,1,1,1,0,1,0,0,1,1,1,...,1,1,1,1,1,0,1,1,1,1
16,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,1,0,1,0
17,1,0,0,0,1,0,0,1,0,0,...,1,1,1,1,1,0,0,0,0,1
18,1,1,0,0,1,0,0,1,0,0,...,1,0,1,0,0,0,1,1,0,1
19,1,1,1,0,1,0,0,1,1,1,...,0,0,0,1,0,0,1,1,1,0
20,1,1,1,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
21,1,0,1,0,1,0,0,0,1,0,...,1,0,0,0,1,0,1,0,0,1
22,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,1,0,1,0,1,0,0,1,0,1,...,0,1,0,1,0,0,0,1,0,0
24,1,0,1,0,0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,1,1
25,1,1,1,0,0,0,0,1,0,0,...,1,0,0,1,0,1,1,1,0,0
26,1,0,0,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
27,1,1,1,0,0,1,1,1,0,0,...,0,0,0,0,0,1,0,1,1,0
28,1,0,0,0,1,0,0,0,1,1,...,0,1,0,1,0,0,0,0,0,1
29,1,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
30,1,0,1,0,1,0,0,1,1,0,...,1,0,0,1,1,0,1,1,1,1
31,1,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
32,1,0,1,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,1,1
33,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,1
34,1,0,1,1,0,1,0,1,0,0,...,0,0,1,0,0,1,0,0,0,1
35,1,1,1,0,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
36,1,1,0,1,0,1,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
37,1,0,0,0,1,0,0,0,1,0,...,1,0,0,1,1,1,0,0,1,1

### scores_1 의 모든 데이터에 4를 곱한 값으로 재지정 하기 (브로드캐스팅)

In [160]:
scores_1 = scores_1 * 4
print(scores_1)

     1   2   3    4    5   6   7   8    9   10  ...  16  17   18  19  20  21
0   0.0   0   0  0.0  4.0   0   0   4  0.0   0  ...   0   0  0.0   4   0   4  \
1   4.0   4   4  0.0  4.0   0   4   4  4.0   0  ...   0   0  0.0   4   4   0
2   0.0   0   4  4.0  4.0   4   0   4  0.0   0  ...   0   0  0.0   0   0   0
3   4.0   4   4  4.0  4.0   4   4   4  4.0   0  ...   4   4  4.0   4   4   0
4   4.0   4   4  0.0  4.0   0   0   4  4.0   0  ...   4   0  0.0   0   4   4
5   4.0   4   0  4.0  4.0   4   0   4  4.0   0  ...   4   0  4.0   4   4   4
6   4.0   4   0  4.0  0.0   4   4   4  4.0   0  ...   0   0  0.0   0   4   0
7   4.0   4   0  0.0  4.0   0   0   4  0.0   0  ...   4   0  0.0   4   4   0
8   4.0   0   4  4.0  4.0   0   0   4  4.0   0  ...   4   0  0.0   4   4   0
9   4.0   0   4  0.0  4.0   0   0   0  0.0   0  ...   0   0  4.0   0   0   4
10  4.0   0   0  0.0  4.0   0   0   4  0.0   0  ...   4   4  4.0   4   0   0
11  4.0   4   0  0.0  4.0   0   0   0  4.0   0  ...   4   0  0.0   0   0   0
12  4.0   4   0  0.0  0.0   0   0   4  0.0   0  ...   0   0  0.0   4   4   0
13  4.0   4   4  0.0  4.0   0   4   4  4.0   4  ...   4   4  0.0   0   4   0
14  4.0   4   0  4.0  4.0   4   0   4  4.0   4  ...   4   0  4.0   4   4   4
15  4.0   4   4  0.0  4.0   0   0   4  4.0   4  ...   4   4  4.0   4   4   0
16  4.0   4   0  0.0  0.0   0   0   0  4.0   0  ...   0   0  0.0   0   0   4
17  4.0   0   0  0.0  4.0   0   0   4  0.0   0  ...   4   4  4.0   4   4   0
18  4.0   4   0  0.0  4.0   0   0   4  0.0   0  ...   4   0  4.0   0   0   0
19  4.0   4   4  0.0  4.0   0   0   4  4.0   4  ...   0   0  0.0   4   0   0
20  4.0   4   4  0.0  0.0   0   0   4  0.0   4  ...   0   0  0.0   4   0   0
21  4.0   0   4  0.0  4.0   0   0   0  4.0   0  ...   4   0  0.0   0   4   0
22  4.0   0   4  0.0  0.0   0   0   0  0.0   0  ...   0   0  0.0   0   0   0
23  4.0   0   4  0.0  4.0   0   0   4  0.0   4  ...   0   4  0.0   4   0   0
24  4.0   0   4  0.0  0.0   0   4   0  4.0   0  ...   0   0  0.0   0   4   0
25  4.0   4   4  0.0  0.0   0   0   4  0.0   0  ...   4   0  0.0   4   0   4
26  4.0   0   0  0.0  0.0   4   0   0  4.0   4  ...   0   0  4.0   0   0   0
27  4.0   4   4  0.0  0.0   4   4   4  0.0   0  ...   0   0  0.0   0   0   4
28  4.0   0   0  0.0  4.0   0   0   0  4.0   4  ...   0   4  0.0   4   0   0
29  4.0   4   0  4.0  4.0   4   4   4  4.0   4  ...   4   4  4.0   4   4   0
30  4.0   0   4  0.0  4.0   0   0   4  4.0   0  ...   4   0  0.0   4   4   0
31  4.0   0   4  0.0  4.0   0   0   0  4.0   0  ...   0   0  0.0   0   0   4
32  4.0   0   4  0.0  4.0   0   0   0  4.0   0  ...   0   0  0.0   4   4   0
33  0.0   0   4  4.0  0.0   0   0   0  0.0   0  ...   0   0  0.0   0   4   4
34  4.0   0   4  4.0  0.0   4   0   4  0.0   0  ...   0   0  4.0   0   0   4
35  4.0   4   4  0.0  4.0   0   4   4  0.0   0  ...   4   4  4.0   4   4   4
36  4.0   4   0  4.0  0.0   4   0   0  0.0   0  ...   0   4  0.0   0   4   0
37  4.0   0   0  0.0  4.0   0   0   0  4.0   0  ...   4   0  0.0   4   4   4

     22   23   24  25
0   4.0  4.0  0.0   4
1   4.0  4.0  0.0   4
2   0.0  0.0  0.0   4
3   4.0  4.0  4.0   4
4   4.0  4.0  4.0   4
5   4.0  4.0  4.0   4
6   0.0  4.0  4.0   0
7   4.0  4.0  4.0   4
8   4.0  4.0  4.0   4
9   4.0  4.0  0.0   4
10  4.0  4.0  0.0   4
11  4.0  4.0  0.0   4
12  4.0  4.0  0.0   0
13  4.0  4.0  4.0   4
14  4.0  4.0  0.0   0
15  4.0  4.0  4.0   4
16  4.0  0.0  4.0   0
17  0.0  0.0  0.0   4
18  4.0  4.0  0.0   4
19  4.0  4.0  4.0   0
20  0.0  0.0  0.0   0
21  4.0  0.0  0.0   4
22  0.0  0.0  0.0   4
23  0.0  4.0  0.0   0
24  0.0  0.0  4.0   4
25  4.0  4.0  0.0   0
26  0.0  0.0  0.0   0
27  0.0  4.0  4.0   0
28  0.0  0.0  0.0   4
29  4.0  4.0  4.0   4
30  4.0  4.0  4.0   4
31  0.0  4.0  0.0   0
32  0.0  0.0  4.0   4
33  0.0  4.0  0.0   4
34  0.0  0.0  0.0   4
35  4.0  4.0  4.0   4
36  4.0  0.0  4.0   0
37  0.0  0.0  4.0   4

[38 rows x 25 columns]

### scores_1 에 새로운 class 열 추가하기(class 데이터 값은 모두 '1반')

In [162]:
scores_1['class'] = '1반'
print(scores_1)

      1  2  3    4    5  6  7  8    9  10  ...  17   18  19  20  21   22   23
0   0.0  0  0  0.0  4.0  0  0  4  0.0   0  ...   0  0.0   4   0   4  4.0  4.0  \
1   4.0  4  4  0.0  4.0  0  4  4  4.0   0  ...   0  0.0   4   4   0  4.0  4.0
2   0.0  0  4  4.0  4.0  4  0  4  0.0   0  ...   0  0.0   0   0   0  0.0  0.0
3   4.0  4  4  4.0  4.0  4  4  4  4.0   0  ...   4  4.0   4   4   0  4.0  4.0
4   4.0  4  4  0.0  4.0  0  0  4  4.0   0  ...   0  0.0   0   4   4  4.0  4.0
5   4.0  4  0  4.0  4.0  4  0  4  4.0   0  ...   0  4.0   4   4   4  4.0  4.0
6   4.0  4  0  4.0  0.0  4  4  4  4.0   0  ...   0  0.0   0   4   0  0.0  4.0
7   4.0  4  0  0.0  4.0  0  0  4  0.0   0  ...   0  0.0   4   4   0  4.0  4.0
8   4.0  0  4  4.0  4.0  0  0  4  4.0   0  ...   0  0.0   4   4   0  4.0  4.0
9   4.0  0  4  0.0  4.0  0  0  0  0.0   0  ...   0  4.0   0   0   4  4.0  4.0
10  4.0  0  0  0.0  4.0  0  0  4  0.0   0  ...   4  4.0   4   0   0  4.0  4.0
11  4.0  4  0  0.0  4.0  0  0  0  4.0   0  ...   0  0.0   0   0   0  4.0  4.0
12  4.0  4  0  0.0  0.0  0  0  4  0.0   0  ...   0  0.0   4   4   0  4.0  4.0
13  4.0  4  4  0.0  4.0  0  4  4  4.0   4  ...   4  0.0   0   4   0  4.0  4.0
14  4.0  4  0  4.0  4.0  4  0  4  4.0   4  ...   0  4.0   4   4   4  4.0  4.0
15  4.0  4  4  0.0  4.0  0  0  4  4.0   4  ...   4  4.0   4   4   0  4.0  4.0
16  4.0  4  0  0.0  0.0  0  0  0  4.0   0  ...   0  0.0   0   0   4  4.0  0.0
17  4.0  0  0  0.0  4.0  0  0  4  0.0   0  ...   4  4.0   4   4   0  0.0  0.0
18  4.0  4  0  0.0  4.0  0  0  4  0.0   0  ...   0  4.0   0   0   0  4.0  4.0
19  4.0  4  4  0.0  4.0  0  0  4  4.0   4  ...   0  0.0   4   0   0  4.0  4.0
20  4.0  4  4  0.0  0.0  0  0  4  0.0   4  ...   0  0.0   4   0   0  0.0  0.0
21  4.0  0  4  0.0  4.0  0  0  0  4.0   0  ...   0  0.0   0   4   0  4.0  0.0
22  4.0  0  4  0.0  0.0  0  0  0  0.0   0  ...   0  0.0   0   0   0  0.0  0.0
23  4.0  0  4  0.0  4.0  0  0  4  0.0   4  ...   4  0.0   4   0   0  0.0  4.0
24  4.0  0  4  0.0  0.0  0  4  0  4.0   0  ...   0  0.0   0   4   0  0.0  0.0
25  4.0  4  4  0.0  0.0  0  0  4  0.0   0  ...   0  0.0   4   0   4  4.0  4.0
26  4.0  0  0  0.0  0.0  4  0  0  4.0   4  ...   0  4.0   0   0   0  0.0  0.0
27  4.0  4  4  0.0  0.0  4  4  4  0.0   0  ...   0  0.0   0   0   4  0.0  4.0
28  4.0  0  0  0.0  4.0  0  0  0  4.0   4  ...   4  0.0   4   0   0  0.0  0.0
29  4.0  4  0  4.0  4.0  4  4  4  4.0   4  ...   4  4.0   4   4   0  4.0  4.0
30  4.0  0  4  0.0  4.0  0  0  4  4.0   0  ...   0  0.0   4   4   0  4.0  4.0
31  4.0  0  4  0.0  4.0  0  0  0  4.0   0  ...   0  0.0   0   0   4  0.0  4.0
32  4.0  0  4  0.0  4.0  0  0  0  4.0   0  ...   0  0.0   4   4   0  0.0  0.0
33  0.0  0  4  4.0  0.0  0  0  0  0.0   0  ...   0  0.0   0   4   4  0.0  4.0
34  4.0  0  4  4.0  0.0  4  0  4  0.0   0  ...   0  4.0   0   0   4  0.0  0.0
35  4.0  4  4  0.0  4.0  0  4  4  0.0   0  ...   4  4.0   4   4   4  4.0  4.0
36  4.0  4  0  4.0  0.0  4  0  0  0.0   0  ...   4  0.0   0   4   0  4.0  0.0
37  4.0  0  0  0.0  4.0  0  0  0  4.0   0  ...   0  0.0   4   4   4  0.0  0.0

     24  25  class
0   0.0   4     1반
1   0.0   4     1반
2   0.0   4     1반
3   4.0   4     1반
4   4.0   4     1반
5   4.0   4     1반
6   4.0   0     1반
7   4.0   4     1반
8   4.0   4     1반
9   0.0   4     1반
10  0.0   4     1반
11  0.0   4     1반
12  0.0   0     1반
13  4.0   4     1반
14  0.0   0     1반
15  4.0   4     1반
16  4.0   0     1반
17  0.0   4     1반
18  0.0   4     1반
19  4.0   0     1반
20  0.0   0     1반
21  0.0   4     1반
22  0.0   4     1반
23  0.0   0     1반
24  4.0   4     1반
25  0.0   0     1반
26  0.0   0     1반
27  4.0   0     1반
28  0.0   4     1반
29  4.0   4     1반
30  4.0   4     1반
31  0.0   0     1반
32  4.0   4     1반
33  0.0   4     1반
34  0.0   4     1반
35  4.0   4     1반
36  4.0   0     1반
37  4.0   4     1반

[38 rows x 26 columns]

### scores_2_1 와 scores_2_2 를 열기준(axis=1) 으로 합쳐 scores_2 변수에 저장하기 (concat)

In [164]:
scores_2 = pd.concat([scores_2_1, scores_2_2], axis=1, ignore_index=True)
print(scores_2)

    0    1   2   3   4   5    6   7   8   9   ...  15  16  17  18  19  20  21
0    1  0.0   1   0   1   0  1.0   1   1   0  ...   0   1   0   1   1   1   0  \
1    1  1.0   1   0   1   0  1.0   1   1   1  ...   1   1   1   1   1   0   1
2    0  1.0   1   0   1   0  1.0   1   1   0  ...   1   0   1   0   0   1   0
3    1  0.0   0   1   1   1  1.0   0   0   0  ...   1   0   0   1   0   0   0
4    1  1.0   0   1   1   1  0.0   1   1   0  ...   0   0   0   0   0   1   0
5    0  0.0   0   1   1   1  NaN   0   1   0  ...   0   0   0   0   0   1   0
6    1  1.0   0   0   1   0  1.0   0   1   0  ...   1   0   0   0   0   1   1
7    1  1.0   1   1   1   1  0.0   0   1   0  ...   1   0   0   0   1   1   0
8    1  1.0   0   1   1   0  0.0   1   1   0  ...   1   0   0   1   0   1   1
9    1  1.0   0   1   1   1  1.0   1   1   0  ...   1   0   0   1   1   0   1
10   1  1.0   1   0   1   0  1.0   1   1   0  ...   1   0   0   1   1   1   1
11   1  0.0   0   1   1   1  0.0   1   0   1  ...   1   0   0   0   0   0   1
12   0  0.0   0   0   0   0  0.0   0   0   0  ...   0   0   0   0   0   0   0
13   1  1.0   1   1   1   0  0.0   1   1   0  ...   1   1   1   1   1   1   1
14   1  1.0   1   0   1   0  0.0   0   1   0  ...   0   0   0   0   0   1   0
15   1  0.0   0   0   0   0  0.0   0   1   0  ...   0   0   0   1   1   0   0
16   0  0.0   0   0   0   0  1.0   0   0   1  ...   0   1   0   1   0   0   0
17   1  0.0   1   0   1   0  0.0   1   1   0  ...   1   1   1   1   0   1   1
18   1  0.0   1   0   1   0  0.0   0   1   0  ...   0   1   0   1   0   1   0
19   1  1.0   0   0   0   0  0.0   0   1   0  ...   0   0   0   0   1   1   0
20   1  0.0   0   0   0   0  0.0   0   1   1  ...   1   0   0   0   1   1   0
21   1  1.0   1   0   0   0  0.0   1   1   0  ...   1   0   1   1   0   1   1
22   1  1.0   0   1   1   1  0.0   1   0   1  ...   1   0   0   1   1   1   1
23   1  0.0   1   0   0   0  0.0   0   1   0  ...   0   0   0   0   1   1   0
24   1  1.0   0   0   0   0  0.0   0   0   1  ...   0   0   0   0   0   0   1
25   1  1.0   0   0   1   0  0.0   0   0   1  ...   0   0   0   0   0   0   0
26   1  0.0   0   0   0   1  0.0   0   0   1  ...   0   0   0   0   0   1   0
27   1  0.0   0   0   0   0  0.0   1   0   0  ...   0   0   0   1   0   0   0
28   0  0.0   1   0   0   0  0.0   0   0   0  ...   0   0   0   1   1   1   0
29   1  1.0   0   1   1   1  0.0   0   0   0  ...   1   0   0   1   0   0   0
30   0  1.0   0   0   1   0  0.0   0   1   0  ...   1   0   0   0   0   0   0
31   1  1.0   1   0   1   0  0.0   1   1   0  ...   1   0   1   0   1   1   1
32   1  0.0   1   0   0   0  0.0   1   0   0  ...   1   0   0   1   1   1   0
33   1  1.0   1   1   1   1  1.0   0   1   0  ...   1   0   0   1   0   1   0
34   1  1.0   0   0   1   0  1.0   1   1   0  ...   0   0   0   1   0   0   1
35   1  0.0   1   0   1   0  1.0   0   1   1  ...   1   0   0   0   1   0   0
36   0  0.0   0   0   0   0  0.0   0   0   0  ...   0   0   0   0   0   0   0
37   1  NaN   1   0   1   0  0.0   1   1   0  ...   0   1   0   1   0   0   1

    22  23  24
0    1   1   1
1    1   1   1
2    0   1   1
3    0   0   1
4    1   1   1
5    0   0   1
6    1   0   0
7    1   1   1
8    0   1   1
9    1   1   1
10   1   1   1
11   1   1   1
12   0   0   0
13   1   1   1
14   0   0   1
15   0   1   1
16   0   1   0
17   1   1   1
18   1   1   1
19   0   0   0
20   0   0   1
21   1   0   0
22   1   1   1
23   0   0   1
24   1   1   1
25   0   0   1
26   0   1   1
27   1   0   1
28   0   0   1
29   0   1   0
30   1   1   1
31   1   0   1
32   0   0   1
33   1   0   1
34   1   1   0
35   0   0   1
36   0   0   0
37   1   0   1

[38 rows x 25 columns]

### scores_2 의 열이름을 1, 2, 3, ... 로 변경하기 (range)

In [165]:
scores_2.columns = range(1, len(scores_2.columns) + 1)
print(scores_2)

    1    2   3   4   5   6    7   8   9   10  ...  16  17  18  19  20  21  22
0    1  0.0   1   0   1   0  1.0   1   1   0  ...   0   1   0   1   1   1   0  \
1    1  1.0   1   0   1   0  1.0   1   1   1  ...   1   1   1   1   1   0   1
2    0  1.0   1   0   1   0  1.0   1   1   0  ...   1   0   1   0   0   1   0
3    1  0.0   0   1   1   1  1.0   0   0   0  ...   1   0   0   1   0   0   0
4    1  1.0   0   1   1   1  0.0   1   1   0  ...   0   0   0   0   0   1   0
5    0  0.0   0   1   1   1  NaN   0   1   0  ...   0   0   0   0   0   1   0
6    1  1.0   0   0   1   0  1.0   0   1   0  ...   1   0   0   0   0   1   1
7    1  1.0   1   1   1   1  0.0   0   1   0  ...   1   0   0   0   1   1   0
8    1  1.0   0   1   1   0  0.0   1   1   0  ...   1   0   0   1   0   1   1
9    1  1.0   0   1   1   1  1.0   1   1   0  ...   1   0   0   1   1   0   1
10   1  1.0   1   0   1   0  1.0   1   1   0  ...   1   0   0   1   1   1   1
11   1  0.0   0   1   1   1  0.0   1   0   1  ...   1   0   0   0   0   0   1
12   0  0.0   0   0   0   0  0.0   0   0   0  ...   0   0   0   0   0   0   0
13   1  1.0   1   1   1   0  0.0   1   1   0  ...   1   1   1   1   1   1   1
14   1  1.0   1   0   1   0  0.0   0   1   0  ...   0   0   0   0   0   1   0
15   1  0.0   0   0   0   0  0.0   0   1   0  ...   0   0   0   1   1   0   0
16   0  0.0   0   0   0   0  1.0   0   0   1  ...   0   1   0   1   0   0   0
17   1  0.0   1   0   1   0  0.0   1   1   0  ...   1   1   1   1   0   1   1
18   1  0.0   1   0   1   0  0.0   0   1   0  ...   0   1   0   1   0   1   0
19   1  1.0   0   0   0   0  0.0   0   1   0  ...   0   0   0   0   1   1   0
20   1  0.0   0   0   0   0  0.0   0   1   1  ...   1   0   0   0   1   1   0
21   1  1.0   1   0   0   0  0.0   1   1   0  ...   1   0   1   1   0   1   1
22   1  1.0   0   1   1   1  0.0   1   0   1  ...   1   0   0   1   1   1   1
23   1  0.0   1   0   0   0  0.0   0   1   0  ...   0   0   0   0   1   1   0
24   1  1.0   0   0   0   0  0.0   0   0   1  ...   0   0   0   0   0   0   1
25   1  1.0   0   0   1   0  0.0   0   0   1  ...   0   0   0   0   0   0   0
26   1  0.0   0   0   0   1  0.0   0   0   1  ...   0   0   0   0   0   1   0
27   1  0.0   0   0   0   0  0.0   1   0   0  ...   0   0   0   1   0   0   0
28   0  0.0   1   0   0   0  0.0   0   0   0  ...   0   0   0   1   1   1   0
29   1  1.0   0   1   1   1  0.0   0   0   0  ...   1   0   0   1   0   0   0
30   0  1.0   0   0   1   0  0.0   0   1   0  ...   1   0   0   0   0   0   0
31   1  1.0   1   0   1   0  0.0   1   1   0  ...   1   0   1   0   1   1   1
32   1  0.0   1   0   0   0  0.0   1   0   0  ...   1   0   0   1   1   1   0
33   1  1.0   1   1   1   1  1.0   0   1   0  ...   1   0   0   1   0   1   0
34   1  1.0   0   0   1   0  1.0   1   1   0  ...   0   0   0   1   0   0   1
35   1  0.0   1   0   1   0  1.0   0   1   1  ...   1   0   0   0   1   0   0
36   0  0.0   0   0   0   0  0.0   0   0   0  ...   0   0   0   0   0   0   0
37   1  NaN   1   0   1   0  0.0   1   1   0  ...   0   1   0   1   0   0   1

    23  24  25
0    1   1   1
1    1   1   1
2    0   1   1
3    0   0   1
4    1   1   1
5    0   0   1
6    1   0   0
7    1   1   1
8    0   1   1
9    1   1   1
10   1   1   1
11   1   1   1
12   0   0   0
13   1   1   1
14   0   0   1
15   0   1   1
16   0   1   0
17   1   1   1
18   1   1   1
19   0   0   0
20   0   0   1
21   1   0   0
22   1   1   1
23   0   0   1
24   1   1   1
25   0   0   1
26   0   1   1
27   1   0   1
28   0   0   1
29   0   1   0
30   1   1   1
31   1   0   1
32   0   0   1
33   1   0   1
34   1   1   0
35   0   0   1
36   0   0   0
37   1   0   1

[38 rows x 25 columns]

### scores_2 에서 누락 데이터를 0 으로 채우기 (fillna)

In [168]:
scores_2.fillna(0, inplace=True)

### scores_2 의 모든 데이터타입을 int32 으로 변경하기 (astype)

In [169]:
scores_2.astype('int32')

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,1,0,1,0,1,0,1,1,1,0,...,0,1,0,1,1,1,0,1,1,1
1,1,1,1,0,1,0,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
2,0,1,1,0,1,0,1,1,1,0,...,1,0,1,0,0,1,0,0,1,1
3,1,0,0,1,1,1,1,0,0,0,...,1,0,0,1,0,0,0,0,0,1
4,1,1,0,1,1,1,0,1,1,0,...,0,0,0,0,0,1,0,1,1,1
5,0,0,0,1,1,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
6,1,1,0,0,1,0,1,0,1,0,...,1,0,0,0,0,1,1,1,0,0
7,1,1,1,1,1,1,0,0,1,0,...,1,0,0,0,1,1,0,1,1,1
8,1,1,0,1,1,0,0,1,1,0,...,1,0,0,1,0,1,1,0,1,1
9,1,1,0,1,1,1,1,1,1,0,...,1,0,0,1,1,0,1,1,1,1
10,1,1,1,0,1,0,1,1,1,0,...,1,0,0,1,1,1,1,1,1,1
11,1,0,0,1,1,1,0,1,0,1,...,1,0,0,0,0,0,1,1,1,1
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1,1,1,1,1,0,0,1,1,0,...,1,1,1,1,1,1,1,1,1,1
14,1,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
15,1,0,0,0,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,1,1
16,0,0,0,0,0,0,1,0,0,1,...,0,1,0,1,0,0,0,0,1,0
17,1,0,1,0,1,0,0,1,1,0,...,1,1,1,1,0,1,1,1,1,1
18,1,0,1,0,1,0,0,0,1,0,...,0,1,0,1,0,1,0,1,1,1
19,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,0
20,1,0,0,0,0,0,0,0,1,1,...,1,0,0,0,1,1,0,0,0,1
21,1,1,1,0,0,0,0,1,1,0,...,1,0,1,1,0,1,1,1,0,0
22,1,1,0,1,1,1,0,1,0,1,...,1,0,0,1,1,1,1,1,1,1
23,1,0,1,0,0,0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,1
24,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,1,1,1
25,1,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
26,1,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
27,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,1
28,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,0,1
29,1,1,0,1,1,1,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
30,0,1,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,1,1,1
31,1,1,1,0,1,0,0,1,1,0,...,1,0,1,0,1,1,1,1,0,1
32,1,0,1,0,0,0,0,1,0,0,...,1,0,0,1,1,1,0,0,0,1
33,1,1,1,1,1,1,1,0,1,0,...,1,0,0,1,0,1,0,1,0,1
34,1,1,0,0,1,0,1,1,1,0,...,0,0,0,1,0,0,1,1,1,0
35,1,0,1,0,1,0,1,0,1,1,...,1,0,0,0,1,0,0,0,0,1
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,1,0,1,0,1,0,0,1,1,0,...,0,1,0,1,0,0,1,1,0,1

### scores_2 의 모든 데이터에 4를 곱한 값으로 재지정하기 (브로드캐스팅)

In [170]:
scores_2 = scores_2 * 4

### sores_2 에 새로운 class열 추가하기(class 데이터 값은 모두 '2반')

In [172]:
scores_2['class'] = '2반'

### scores_1 과 scores_2 를 행기준(axis=0) 으로 합쳐 scores 변수에 저장하기 (concat)

In [174]:
scores = pd.concat([scores_1, scores_2], axis=0, ignore_index=True)

print(scores)

      1    2  3    4    5  6    7  8    9  10  ...  17   18  19  20  21   22
0   0.0  0.0  0  0.0  4.0  0  0.0  4  0.0   0  ...   0  0.0   4   0   4  4.0  \
1   4.0  4.0  4  0.0  4.0  0  4.0  4  4.0   0  ...   0  0.0   4   4   0  4.0
2   0.0  0.0  4  4.0  4.0  4  0.0  4  0.0   0  ...   0  0.0   0   0   0  0.0
3   4.0  4.0  4  4.0  4.0  4  4.0  4  4.0   0  ...   4  4.0   4   4   0  4.0
4   4.0  4.0  4  0.0  4.0  0  0.0  4  4.0   0  ...   0  0.0   0   4   4  4.0
..  ...  ... ..  ...  ... ..  ... ..  ...  ..  ...  ..  ...  ..  ..  ..  ...
71  4.0  4.0  4  4.0  4.0  4  4.0  0  4.0   0  ...   0  0.0   4   0   4  0.0
72  4.0  4.0  0  0.0  4.0  0  4.0  4  4.0   0  ...   0  0.0   4   0   0  4.0
73  4.0  0.0  4  0.0  4.0  0  4.0  0  4.0   4  ...   0  0.0   0   4   0  0.0
74  0.0  0.0  0  0.0  0.0  0  0.0  0  0.0   0  ...   0  0.0   0   0   0  0.0
75  4.0  0.0  4  0.0  4.0  0  0.0  4  4.0   0  ...   4  0.0   4   0   0  4.0

     23   24  25  class
0   4.0  0.0   4     1반
1   4.0  0.0   4     1반
2   0.0  0.0   4     1반
3   4.0  4.0   4     1반
4   4.0  4.0   4     1반
..  ...  ...  ..    ...
71  4.0  0.0   4     2반
72  4.0  4.0   0     2반
73  0.0  0.0   4     2반
74  0.0  0.0   0     2반
75  4.0  0.0   4     2반

[76 rows x 26 columns]

### scores에 새로운 id열(values = 1, 2, 3, ...) 추가하기

In [178]:
scores['id'] = range(1, len(scores) + 1)

print(scores)

      1    2  3    4    5  6    7  8    9  10  ...   18  19  20  21   22   23
0   0.0  0.0  0  0.0  4.0  0  0.0  4  0.0   0  ...  0.0   4   0   4  4.0  4.0  \
1   4.0  4.0  4  0.0  4.0  0  4.0  4  4.0   0  ...  0.0   4   4   0  4.0  4.0
2   0.0  0.0  4  4.0  4.0  4  0.0  4  0.0   0  ...  0.0   0   0   0  0.0  0.0
3   4.0  4.0  4  4.0  4.0  4  4.0  4  4.0   0  ...  4.0   4   4   0  4.0  4.0
4   4.0  4.0  4  0.0  4.0  0  0.0  4  4.0   0  ...  0.0   0   4   4  4.0  4.0
..  ...  ... ..  ...  ... ..  ... ..  ...  ..  ...  ...  ..  ..  ..  ...  ...
71  4.0  4.0  4  4.0  4.0  4  4.0  0  4.0   0  ...  0.0   4   0   4  0.0  4.0
72  4.0  4.0  0  0.0  4.0  0  4.0  4  4.0   0  ...  0.0   4   0   0  4.0  4.0
73  4.0  0.0  4  0.0  4.0  0  4.0  0  4.0   4  ...  0.0   0   4   0  0.0  0.0
74  0.0  0.0  0  0.0  0.0  0  0.0  0  0.0   0  ...  0.0   0   0   0  0.0  0.0
75  4.0  0.0  4  0.0  4.0  0  0.0  4  4.0   0  ...  0.0   4   0   0  4.0  4.0

     24  25  class  id
0   0.0   4     1반   1
1   0.0   4     1반   2
2   0.0   4     1반   3
3   4.0   4     1반   4
4   4.0   4     1반   5
..  ...  ..    ...  ..
71  0.0   4     2반  72
72  4.0   0     2반  73
73  0.0   4     2반  74
74  0.0   0     2반  75
75  0.0   4     2반  76

[76 rows x 27 columns]

### class 열의 데이터타입을 category 로 변경하기 (astype)

In [183]:
scores['class'] = scores['class'].astype('category')

print(scores.dtypes)

1         float64
2         float64
3           int64
4         float64
5         float64
6           int64
7         float64
8           int64
9         float64
10          int64
11          int64
12          int64
13        float64
14          int64
15          int64
16          int64
17          int64
18        float64
19          int64
20          int64
21          int64
22        float64
23        float64
24        float64
25          int64
class    category
id          int64
dtype: object

## 3.3 분석하기

### class, id 열을 고정하고, 나머지 열을 피벗하여 scores_long 변수에 저장하기 (melt - var_name='question', value_name='score')

In [185]:
scores_long = pd.melt(scores, id_vars=['class', 'id'], var_name='question', value_name='score')

print(scores_long)

     class  id question  score
0       1반   1        1    0.0
1       1반   2        1    4.0
2       1반   3        1    0.0
3       1반   4        1    4.0
4       1반   5        1    4.0
...    ...  ..      ...    ...
1895    2반  72       25    4.0
1896    2반  73       25    0.0
1897    2반  74       25    4.0
1898    2반  75       25    0.0
1899    2반  76       25    4.0

[1900 rows x 4 columns]

### scores_long 에서 학생별 점수 구하기 (groupby, sum)

In [186]:
print(scores_long.groupby('id').score.sum())

id
1     40.0
2     56.0
3     40.0
4     88.0
5     60.0
      ...
72    72.0
73    48.0
74    52.0
75     0.0
76    52.0
Name: score, Length: 76, dtype: float64

### scores_long 에서 반/학생별 평균 점수 구하여 class_scores 변수에 저장하기 (groupby, sum, reset_index)

In [192]:
class_scores = scores_long.groupby(['class', 'id']).sum().reset_index()
print(class_scores)

    class  id question  score
0      1반   1      325   40.0
1      1반   2      325   56.0
2      1반   3      325   40.0
3      1반   4      325   88.0
4      1반   5      325   60.0
..    ...  ..      ...    ...
147    2반  72      325   72.0
148    2반  73      325   48.0
149    2반  74      325   52.0
150    2반  75      325    0.0
151    2반  76      325   52.0

[152 rows x 4 columns]

### class_scores에서 반별 평균 점수 구하기 (groupby, mean)

In [194]:
print(class_scores.groupby(['class']).mean())

         id question      score
class
1반     38.5    162.5  25.789474
2반     38.5    162.5  23.526316

### class_scores에서 반별 기술통계 항목 구하기 (groupby, describe)

In [195]:
print(class_scores.groupby('class').describe())

         id                                                 score
      count  mean        std  min    25%   50%    75%   max count       mean
class
1반     76.0  38.5  22.083176  1.0  19.75  38.5  57.25  76.0  76.0  25.789474  \
2반     76.0  38.5  22.083176  1.0  19.75  38.5  57.25  76.0  76.0  23.526316


             std  min  25%   50%   75%   max
class
1반     28.430179  0.0  0.0  10.0  48.0  88.0
2반     27.542681  0.0  0.0   0.0  48.0  88.0

# 4. Regular Expression
***

## 4.1 문자열에서 찾기

In [11]:
import pandas as pd
import re

sample = """
750101-1123146 01012345677
900201-2123121 010-2234-7799
950722-2027193 010-2987-7222
000321-3123142 011_1234_9087
001105-4333127 010 4422 1485
0009213876575  01045845987
"""

### 전화번호 추출하기

In [217]:
p = re.compile('\d{3}[-_\s]?\d{4}[-_\s]?\d{4}$', re.MULTILINE)
print(p.findall(sample))

['01012345677', '010-2234-7799', '010-2987-7222', '011_1234_9087', '010 4422 1485', '01045845987']

### 주민등록번호 추출하기

In [4]:
p = re.compile('\d{6}-?\d{7}', re.MULTILINE)
print(p.findall(sample))

['750101-1123146', '900201-2123121', '950722-2027193', '000321-3123142', '001105-4333127', '0009213876575']

### 여성 주민등록번호 추출하기

In [5]:
p = re.compile('\d{6}-?[24]\d{6}')
print(p.findall(sample))

['900201-2123121', '950722-2027193', '001105-4333127']

## 4.2 데이터프레임에서 찾기

In [13]:
scientists = pd.read_csv('../data/scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

### 5월에 태어난 과학자 추출

In [18]:
print(scientists[scientists['Born'].str.match('\d{4}-05-\d{2}')])

                   Name        Born        Died  Age Occupation
2  Florence Nightingale  1820-05-12  1910-08-13   90      Nurse
4         Rachel Carson  1907-05-27  1964-04-14   56  Biologist

### 성(last name)이 C로 시작하는 과학자 추출

In [22]:
print(scientists[scientists['Name'].str.match('\w+\s[cC]\w+')])

            Name        Born        Died  Age Occupation
3    Marie Curie  1867-11-07  1934-07-04   66    Chemist
4  Rachel Carson  1907-05-27  1964-04-14   56  Biologist